$roboto:  'Roboto', sans-serif;
$robotocondensed:  'Roboto Condensed', sans-serif;
$notoserif:  'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;
$border1pxwhite: 1px solid #fff;

.time-post{
	text-align: center;
}
.title-detail-01{
	font-size: 32px;
	font-family: $notoserif;
	font-weight: 700;
	margin-top: 0;

}
.cate-top-left{
	padding-bottom: 30px;
}
.cont-defcribe{
	font-weight: 700;
}
.icon-social-detail{
	text-align:center;
	a{
		display: inline-block;

	}
	.social-round{
		width: 25px;
    height: 25px;
		border-radius: 50px;
		text-align: center;
    padding: 2px;
    margin-right: 5px;
    i.fa{
    	color: #fff;
    	font-size: 14px;
    }
	}
	.facebook{
		.social-round{
			background: #3C579E;
		}
	}
	.google{
		.social-round{
			background: #DE4B39;
		}
	}
	.youtube{
		.social-round{
			background: #55ACEE;
		}
	}
	.instagram{
		.social-round{
			background: #0076B4;
		}
	}
}

.box-detail-left{
	padding-bottom: 500px;
	padding-top: 20px;
	img{
		width: 100%;
		margin-bottom: 5px;
	}
}
.box-detail-left:last-child{
	padding-bottom: 0;
}
.name-ad-post{
	span{
		float: right;
		font-weight: 700;
		padding-bottom: 15px;
		padding-top: 50px;
}
}
.bor-box-detail{
	border-right: $border1px;
	border-left: $border1px;
	.img-detail-center{
		img{
			width: 100%;
		}
		span{
			text-align: center;
			display: block;
			padding-bottom: 10px;
			color: #A1A1A1;
			font-family: $robotocondensed;
			font-size: 16px;
			padding-top: 5px;
		}
	}
}
.tags-involve{
	clear: both;
	border-top: $border1px;
	padding-top: 15px;
	span{
		 margin-left: 10px;
    background: #666;
    padding: 2px 6px 2px 2px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
		a{
			color: #fff;
			font-weight: 100;
		}
	}
	span:hover{
		background: #cb0000;
	}
}

.detail-main-right{
	.highlight-video{
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: $border1px;
		.box-highlight-video {
			.box-highlight-video-img{
				a{
					width: 100%;
			    height: 100%;
			    position: absolute;
				}
				span.icon-play{
					top: 50px;
				}
				.bg-bottom-video{
					height: 50px;
				}
			}
		}
		.box-highlight-video-title{
			bottom: 0;
		}
	}
	.box-large-hot-news-day{
		.box-hot-news-day{
			p{
				height: 64px;
				overflow: hidden;
				margin-bottom: 0;
			}
		}
	}
}
.video-center-detail{
	background: #000;
	padding: 15px;
	.video-detail-left{
		padding-left: 0;
		.video-detail-img{
			position: relative;
			a{
				width: 100%;
		    height: 100%;
		    position: absolute;
			}
			img{
				width: 100%;
			}
		}
		.video-detail-img{
			position: relative;
		}
		.video-detail-img:hover {
				span.icon-play{
				opacity: 1;
				cursor: pointer;
			}
		}
		.video-detail-title{
			a{
				color: #fff;
			}
		}
	}
	.video-detail-right{
		padding-right: 0;
		.media{
			img{
				width: 104px;
			}
			a{
				color: #fff;
			}
		}
	}
}
.involve-news-detail{
	padding-top: 10px;
	.box-lg-invol{
		padding-bottom: 10px;
		background: #ECECEC;
	}
	.fix-left-right{
		padding: 0;
	}
	.box-img-invol{
		width: 100%;
		height: 175px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	p{
		width: 90%;
		margin: 10px auto;
	}
	p.item-invol-detail{
		border-top: $border1pxwhite;
		padding-top: 15px;
	}
	p.time-post-news{
			>span{
				padding-right: 10px;
			}
				span{
				color: #A1A1A1;
			}
		}
}

.tech-center-detail{
	background: #ECECEC;
	padding-top: 15px;
	margin-top: 15px;
	.fix-left-right{
		padding: 0;
	}
	.box-img-invol{
		width: 100%;
		height: 175px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	.box-lg-invol{
		p{
		width: 90%;
		margin: 10px auto;
		}
		p.item-invol-detail{
			border-top: $border1pxwhite;
			padding-top: 15px;
		}
		p.time-post-news{
				>span{
					padding-right: 10px;
				}
					span{
				color: #A1A1A1;
			}
			}
	}
	
}

.women-news-detail{
	padding-top: 15px;
	.box-lg-women{
		padding-bottom: 10px;
		background: #ECECEC;
		p{
		width: 90%;
		margin: 10px auto;
	}
	p.item-invol-detail{
		border-top: $border1pxwhite;
		padding-top: 15px;
	}
	p.time-post-news{
			>span{
				padding-right: 10px;
			}
			span{
				color: #A1A1A1;
			}
		}
	}
	.fix-left-right{
		padding: 0;
	}
	.box-img-invol{
		width: 100%;
		height: 175px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	 .line{
    margin: 15px -15px 0 0;
  }
}