$roboto:  'Roboto', sans-serif;
$robotocondensed:  'Roboto Condensed', sans-serif;
$notoserif:  'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;

.title-cate-1{
	float: left;
	margin-top: 10px;
	padding-right: 5px;
	
	a{
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 500;
	}
}
.title-cate-2{
	float: left;
	margin-top: 14px;
	a{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		padding: 4px ;
	}
}
.title-cate-3{
	margin-top: 10px;
	a{
		font-size: 22px;
		text-decoration: none;
	}
}
.title-cate-4{
	margin-top: 0px;
	line-height: 0.95;
	a{
		font-size: 18px;
		text-decoration: none;
	}
}
.cate-top-left{
	padding-left: 0;
	li{
		float: left;
		list-style-type: none;
		a{
			text-decoration: none;
			color: #666666;
			font-size: 13px;
			font-family: $roboto;
		}
		span{
			padding: 0 3px;
		}
	}
}
.box-cate-large-life{
	
	img{
		width: 100%;
	}
	p{
		margin-bottom: 15px;
	}
}
.box-cate-small-life{
	border-top: $border1px;
	padding-top: 15px;
	p{
		height: 64px;
		overflow: hidden;
		margin-bottom: 0;
	}
}
ul.number-page-cate{
	float: right;
	li{
		float: left;
	    list-style-type: none;
	    width: 25px;
	    padding: 3px;
	    height: 25px;
	    text-align: center;
	    margin: 5px 5px 0 0;
	    background: #eee;
	}
	li.active{
		background: #f8931d;
		a{
			color: #fff;
		}
		a:hover{
			color: #fff;
		}
	}
	li{
		a{
			color: #3a3a3c;
			text-decoration: none;
		}
		a:hover{
			color: #f8931d;
		}
	}
}

.cate-highlight-news{

	.highlight-center{
		border-top: $border1px;
		padding: 15px 0 5px;
		p{
			padding-top: 5px;
		}
		a{
			font-size: 18px;
		}
	}
}
.cate-main-right{
	.highlight-video{
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: $border1px;
		.box-highlight-video {
			.box-highlight-video-img{
				span.icon-play{
					top: 50px;
				}
				.bg-bottom-video{
					height: 50px;
				}
			}
		}
		.box-highlight-video-title{
			bottom: 0;
		}
	}
	.box-large-hot-news-day{
		.box-hot-news-day{
			p{
				height: 64px;
				overflow: hidden;
				margin-bottom: 0;
			}
		}
	}
}
.cate-main-left{
	border-right: $border1px;
}
.cate-main-right{
	border-left: $border1px;
	// height: 1835px;
}