$roboto:  'Roboto', sans-serif;
$robotocondensed:  'Roboto Condensed', sans-serif;
$notoserif:  'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;

body{
  font-family: $notoserif;
  background: #f7f7f7;
}


/* sum */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        position: static;
    }

section{
  clear: both;
}
.hot-news-top{
  margin-top: 50px;
  margin-bottom: 10px;
  height: 45px;
  overflow: hidden;
  a{
    padding-right: 50px;
  }
  .hot{
    color: #fff;
    background: #cb0000;
    margin-left: 10px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4px;
  }
}
.clear{
  clear: both;
}
.main-navigation{
  padding: 0 5px;
}
.site-header{
    background: #000;
    height: 56px;
    color: #fff;
    border-bottom: 3px solid #ccc;
}
.fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
 a{
  text-decoration: none !important;
  color: #000;
  transition: all .22s ease-in-out;
  font-weight: 700;
  font-family: $robotocondensed;
  font-size: 16px;
  }
  a:hover, a:focus{
    color: #cb0000;
    outline: none;
  }
  .main-left{
    border-right: $border1px;
  }
p.content-news{
  font-size: 14px;
  font-family: $notoserif;
  color: #000;

}
.topmargin-fix {
  margin-top:0px;
}
.title-main-1{
  margin-top: 10px;
  a{
    font-size: 30px;
    letter-spacing: -1px;
  }
}
.title-main-2{
  margin-top: 10px;
  a{
    font-size: 26px;
  }
}
.title-main-3{
  margin-top: 10px;
  line-height: 1;
  a{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
  }
}
.title-main-4{
  margin-top: 10px;
  a{
    font-size: 18px;
    line-height: 22px;
  }
}
.event-top{
    a{
      text-decoration: none;
      font-size: 14px;
      color: #000;
      font-weight:normal;
      transition: all 0.3s ease-in-out;
      padding: 0px 30px 0 0;
      font-family: $roboto;
    }
    a:hover{
      color: #cb0000;
      }
}
.event-title{
    font-size: 16px ;
    font-family: $roboto;
    color: #cb0000;
    font-weight: bold;
    text-decoration: none;
}

.main-right{
  h2{
    margin-top: 10px;
    a{
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 10px 0;
      }
  }
}
.sub-title-left{
  
    h2{
       margin-top: 0px;
      a{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 10px 0;

      }
    }
    a{
      text-decoration: none;
      font-size: 14px;
      text-transform:uppercase;
      color: #000;
      transition: all .22s ease-in-out;
      font-weight: 500;
      font-family: $notoserif;
    }
    a:hover{
      color: #e52d30;
    }
    p{
      margin-bottom: 5px;
    }
}

.border-top-sub{
  border-top: 4px solid #222;
  width: 30px;
}
.line{
  clear: both;
  margin: 15px;
  border-top: 1px solid #d5d5d5;
}
.line-1{
   clear: both;
    margin: 15px 0;
    border-top: 1px solid #d5d5d5;
  }
.padding{
  clear: both;
  padding: 15px;
}
.col-fix-divide-right-large{
  .line{
    margin-left: 0;
    margin-right: 0;
  }
}
.main-left{
  border-right: $border1px;
}

/* end sum */
/* header */
ul.navbar-nav{
  text-align: center;
  margin: 0 auto;
  display: block;
  li{
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5px;
  height: 56px;
  } 
 li.main-menu-home{
    width: 90px;
    height: 72px;
    margin: -10px 13px 0 10px;
    background: #cb0000;
    h1 {
      margin-top:11px;
      margin-bottom:0px;
    }
  }
}
.caret {
  margin-left:5px;
}
.navbar-nav > li > a{
  color: #fff;
  padding: 12px 10px 0;
  font-weight: normal;
  font-family: $roboto;
  outline: none;
  box-shadow: none;
  font-size: 13px;
  opacity: 1;
}
.navbar-nav > li > a:hover{
  background: none;
  color: #fff;
  opacity: 1;
}
.navbar-nav > li > a:focus {
  background:transparent;
}
li.active-menu > a:focus {
  background:transparent;
}
li.active-menu > a{
  color: #cb0000;
  opacity: 1;
  margin-top: 5px;
}
ul.dropdown-menu{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  margin-top: 5px;
  min-width: 200px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  top: 50px;

  li.menu-header a{
    text-transform: uppercase;
    background: #ddd ;
    font-weight: bold;
  }
  li{
    height: auto;
  }
  li a{
    font-size: 13px;
    text-transform: none;
    padding: 10px 20px;
    font-family: $roboto;
}
  li>a:focus, li>a:hover{
    transition: 0.22s;
  }
}

.search-box{
  position: relative;
  padding-right: 10px;

  .input-group-addon{
      background: #fff;
      transition: all .3s ease-in-out;
  }
   .input-group-addon:hover{
       background: #ddd;
       cursor: pointer;
  }
  button{
    position: absolute;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    margin-bottom: 5px;
    margin-top:5px;
    right: 10px;
    top: 6px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 0;
    transition:  all .3s ease-in-out;
    outline: none !important;
    box-shadow: none !important;
    opacity: .8;
    span{
      padding-left: 10px;
    }
  }
  button:hover, button:active, button:focus,
  button:active:focus{
      border: 1px solid #fff;
      background: #000;
      color: #fff;
      opacity: 1;
  }
  #search-form { display: none; }
  .input-group{
    position: absolute;
    right: 10px;
    top: 55px;
    width: 225px;

  }
  input.form-control{
    outline: none;
    box-shadow: none;
    border-right: none;

  }
 
  input.form-control:focus{
    border: $border1px;
    border-right: none;
  }
}

ul li:hover ul.dropdown-menu,
ul li:hover .arrow_box{
  visibility: visible;
  opacity: 1;
}
.arrow_box {
  position: relative;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  bottom: -19px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-bottom-color: #fff;
  border-width: 14px;
  margin-left: -14px;
}
.arrow_box:before {
  border-bottom-color: #ccc;
  border-width: 15px;
  margin-left: -15px;
}



.view-more-event{
    clear: both;
    border-top: 3px #222 solid;
    border-bottom: 1px solid #d4d4d4;
    padding: 14px 0 12px;
    margin-bottom: 20px;
    h2{
      font-size:0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
}

/* end header */
/* new highlight */

.highlight-left{
  border-right: $border1px;
}

.box-highlight-left:nth-child(2){
  p{
     height: auto;
  }
  border-top: none; 
 
}
.box-highlight-left{
  border-top: $border1px;
  .title-main-1{
    margin-top: 0px;
  }
  img{
    width: 135px;
    margin-top: 5px;
  }
  .media-right{
    padding-left: 0;
  }
  p{
    height: 160px;
    overflow: hidden;
  }
}
.top-hightnews {
      border-bottom: 1px solid #dcdcdc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.top-hightnews2 {
      border-bottom: 1px solid #dcdcdc;
    margin-bottom: 15px;
    padding-bottom: 0;
}
.highlight-right .box-highlight-right:nth-child(2){
  border-top: $border1px; 
}

.name-highlight{
    h2{
    font-size: 15px;
    text-transform: uppercase;
    font-family: $notoserif;
    float: left;
    padding-right: 5px;
    font-weight: 700;
    margin-top: 0;
  }
  img{
    margin-top: -15px;
  }
}
.box-highlight-left,
.box-highlight-left-1{
  clear: both;
}
.box-highlight-right,.box-highlight-right-1{
  img{
    width: 100%;
  }
  .media-right{
    img{
      width: 135px;
    }
  }
  .line{
    margin: 0;
  }
   p{
    height: 102px;
    overflow: hidden;
  }
}

/* end new highlight */
/* new light */
.box-info-life{
  height: 275px;
  p{
    height: 47px;
    overflow: hidden;
  }
  img{
    width: 100%;
    margin-bottom: 8px;
  }
}

/* end new light */
/* entertainment-news */
.box-large-entertaiment{
  img{
    width: 210px;
  }
  h3{
    margin-top: 0;
  }
  .line{
    margin-left: 0;
    margin-right: 0;
  }
}
.box-small-entertaiment{
  margin-top: 0;
  h3{
    margin-top: 0px;
    line-height: .75;
    margin-bottom:5px;
  }
  img{
    width: 140px;
  }
  .line{
    margin-left: 0;
    margin-right: 0;
  }
}
/* end entertainment-news */
/* tv-shows-news */
.box-tv-shows{
  padding-bottom: 15px;
  height: 110px;
  img{
    width: 140px;
  }
  .media-body{
    a{
      height: 66px;
      display: block;
    }
  }
}
/* end tv-shows-news */
/* movie-news */
  .box-large-movie-left{
    img{
      width: 100%;
    }
  }
  .box-small-movie-right{
    img{
      width: 100%;
      margin-bottom: 5px;
    }

  }
  .box-small-movie-bottom{
    padding-top: 15px;
    p{
      border-top: $border1px;
      padding-top: 10px;
    }
  }
/* end movie new */
/* fashion new */
.box-content-fashion{
  img{
    width: 100%;
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 0;
    text-align: center;
  }

}

/* end fashion new */

/* women */
  .box-content-women{
    padding: 10px;
    background: #fff;
    img{
      width: 100%;
    }
    a{
      font-weight: 700;
    }
    p{
        border-top: 1px solid #dcdcdc;
        padding-top: 10px;
        height: 54px;
        overflow: hidden;

    }
  }
/* end women */
/* tech */
.content-tech-main{
  .col-xs-4{
    width: 31.3333%;
    .link-info-tech-right{
      height: 84px;
      overflow: hidden;
      a{
        font-weight: 700;
      }
    }
  }

}
.content-tech-top-left-small{
  width: 62.5%;
  img{
    width: 213px;
  }
  h3{
    margin-top: 0;
  }
}
.content-tech-top-right-small{
  border-left: $border1px;
  img{
    width: 94px;
  }
  p{
    height: 64px;
    overflow: hidden;
  }
}
/* end tech */
/* vehicles-news */
.box-large-vehicles-left{
  img{
    width: 100%;
  }
  p{
    height: 80px;
    overflow: hidden;
  }
}
.box-small-vehicles-right{
  padding-bottom: 10px;
  border-bottom: $border1px;
  margin-top: 10px;
  img{
    width: 94px;
  }
  p{
    height: 64px;
    margin-bottom: 0;
    overflow: hidden;
  }
}
.box-small-vehicles-right:last-child{
  padding-bottom: 0;
  border-bottom: none;
}
/* end vehicles-news */
/* sport-news */
.box-large-sport{
  img{
    width: 100%;
  }
  h3{
    height: 52px;
    overflow: hidden;
  }
}
.box-small-sport{
  border-top: $border1px;
  padding-top: 15px;
  img{
    width: 90px;
  }
  p{
    height: 64px;
    margin-bottom: -5px;
    overflow: hidden;
    position: relative;
    top: -3px;
  }

}
/* end sport-news */
/* video news */
span.icon-play{
    background-image: url("images/icon-play.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 44%;
    width: 50px;
    height: 62px;
    top: 80px;
    opacity: 0.7;
    transition: 0.3s;
    background-size: 50px 60px;
  }

  a:hover span.icon-play{
    opacity: 1;
}
.video-news{
  .pull-left{
    img{
      width: 100%;
    }
  }
  .link-bottom-video{
    clear: both;
    padding-top: 5px;
  }
  .media {
    padding-top: 15px;
    border-top: $border1px;
    clear: both;
    img{
      width: 146px;
    }
  }
  
  .box-play,.box-play1,.box-play-img-video{
    position: relative;
  }
  .img-video-large{
    width: 100%;
  }
  .box-play{
    a.hover-box-video{
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0;
    }
   
  }
  .box-play:hover{
     span.icon-play{
      opacity: 1;
     }
  }
  .box-play1{
    span.icon-play{
     background-size: 25px 30px;
     top: 25px;
    }
  }
  .box-main-video{
    padding: 10px;
    background: #222;
    a{
      color: #fff;
    }
    a:hover{
      
    }
  }
}
/* end video new */
/* main-right */
.search-input{
    border: none;
    height: 42px;
    width: 100%;
    border: 1px solid #fff;

    transition: all 0.3s ease-in-out;
}


.search-input:focus{
    border: $border1px;
    box-shadow: none;
    outline: none !important;
}
.search-btn{
    color: #fff;
    padding: 10px 30px;
    border-radius: 0;
    margin-left: -5px;
    background: #a1a1a1;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    top: 0px;
    right: 0;
    transition: all .3s ease-in-out;
    font-family: $robotocondensed;
}
.search-btn:hover{
  background: #cecece;
}
.highlight-video{
  // padding-top: 15px;
  img{
    width: 100%;
  }
  .bg-bottom-video{
    position: absolute;
    z-index: 1;
    height: 40px;
    background: #888;
    opacity: .3;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
    color: #fff;
    cursor: pointer;
  }
}
.box-highlight-video{
  position: relative;
  .box-highlight-video-img{
    span.icon-play{
      cursor: pointer;
      opacity: 0.5;
      top: 70px;
    }
    a{
    position: absolute;
    display: block;
    width: 100%;
    height: 216px;
    }
  }
  // .box-highlight-video-img:hover span.icon-play{
  //     opacity: 1;
  // }
  .box-highlight-video-title{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    z-index: 1;
  }
   a{
      color: #fff;
      display: block;
      padding: 0 10px;
    }
}
.box-highlight-video:hover {
  a{
    opacity: 1;
    
  }
  
  span.icon-play{
    opacity: 1
  }
} 
/* event-stream */
.event-stream-news{
  clear:both;
  padding-top:30px;
  border-bottom: $border1px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  .box-stream-info-top{
    img{
      width: 100%;
    }
  
  }
  .box-tream-info{
    border-top: $border1px;
    padding-top: 15px;
    a{
      font-weight: 700;
    }
    img{
      width: 114px;
    }
  }

}

/* end even-stream */
/* hot-news-day */
.hot-news-day{
  .box-large-hot-news-day{
    padding: 10px;
    background:  #fff;
    .box-hot-news-day{
      border-top: $border1px;
      padding-top: 10px;
      margin-top: 10px;
      a{
        font-weight: 100;
      }
    }

    .box-hot-news-day:first-child{
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }

  }
}
/* end hot-new-day */
/*end main-right  */
/* game noob */
.box-img-title-left{
  width: 164px;
  height: 44px;
  position: relative;
  img{
    z-index: 1;
    position: absolute;
    padding-top: 31px;
    width: 100%;
  }
}
.box-large-gamenoob{
  padding: 15px 0 15px;
  margin: 15px 0 !important;
  border-bottom: $border1px;
  border-top: $border1px;
  .img-large-noob{
    width: 272px;
    height: 155px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .title-main-3{
    margin-top: 0;
    font-size: 20px;
  }
  p{
    margin-bottom: 0;
    height: 82px;
    overflow: hidden;
  }
}
.box-small-gamenoob{
 .img-noob{
    width: 100%;
    height: 64px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  margin-left: -10px;
  margin-right: -10px;
  .noob-sm{
    width: 20%;
    padding-left: 10px;
    float: left ;
    padding-right: 10px;
    display: block;
    p{
      height: 94px;
      overflow: hidden;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
}
/* end game noob */
/* tn game */
.box-large-tn-game{
  padding: 15px 0 15px;
  margin: 15px 0 !important;
  border-bottom: $border1px;
  border-top: $border1px;
  .img-large-tn-game{
    width: 272px;
    height: 155px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .title-main-3{
    margin-top: 0;
    font-size: 20px;
  }
  p{
    margin-bottom: 0;
    height: 82px;
    overflow: hidden;
  }
}
.box-small-tn-game{
  margin-left: -10px;
  margin-right: -10px;
  .img-tn-game{
    width: 100%;
    height: 64px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .tn-game-sm{
    width: 20%;
    padding-left: 10px;
    float: left ;
    padding-right: 10px;
    display: block;
    p{
      height: 94px;
      overflow: hidden;
      padding-top: 10px;
      margin-bottom: 0;
    }
  }
}
/* end tn-game */
/* footer */
.main-footer{
  border-top: $border1px;
  margin-top: 30px;
  font-family: $notoserif;
  padding-bottom:30px;
  font-size: 14px;
  .col-xs-3:first-child p{
    padding-right:  40px;
  }
  p{
    margin-bottom: 0;
    color: #000
  }
  h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: $notoserif;
  }
 
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.widget-socialize{
  
  .icon{
        color: #222;
        width: 48%;
        display: block;
        float: left;
        margin: 0 1.6% 4px 0;
  }
  .text-footer{
        overflow: hidden;
        p{
           color: #888;
        }
        p:first-child{
          font-size: 24px;
         
        }
        p:last-child{
          font-size: 12px;
        }
  }
  .symbol{
     width: 55px;
    height: 55px;
    display: block;
    float: left;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    color: #fff;
    margin-right: 8px;
  }
  .facebook{
    .symbol{
          background-color: #3b5998;
    }
  }
  .google{
    .symbol{
          background-color: #dd4b39;
    }
  }
  .youtube{
    .symbol{
          background-color: #dd4b39;
    }
  }
  .instagram{
    .symbol{
          background-color: #3f729b;
    }
  }

}
/* end footer */
.container{
    width: 1260px !important;
  }
.col-fix-divide-left-large{
    width: 9.5%;
    padding-right: 0;
  }
  .col-fix-divide-left-large2 {
    width: 11.11%;
    padding-right: 0;
  }
  .col-fix-2{
    padding-right: 0;
  }
  .col-fix-divide-right-large{
    width: 88.89%;
  }