/* line 7, D:/Sang/project/KulNew/app/styles/detail.scss */
.time-post {
  text-align: center; }

/* line 10, D:/Sang/project/KulNew/app/styles/detail.scss */
.title-detail-01 {
  font-size: 32px;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  margin-top: 0; }

/* line 17, D:/Sang/project/KulNew/app/styles/detail.scss */
.cate-top-left {
  padding-bottom: 30px; }

/* line 20, D:/Sang/project/KulNew/app/styles/detail.scss */
.cont-defcribe {
  font-weight: 700; }

/* line 23, D:/Sang/project/KulNew/app/styles/detail.scss */
.icon-social-detail {
  text-align: center; }
  /* line 25, D:/Sang/project/KulNew/app/styles/detail.scss */
  .icon-social-detail a {
    display: inline-block; }
  /* line 29, D:/Sang/project/KulNew/app/styles/detail.scss */
  .icon-social-detail .social-round {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    padding: 2px;
    margin-right: 5px; }
    /* line 36, D:/Sang/project/KulNew/app/styles/detail.scss */
    .icon-social-detail .social-round i.fa {
      color: #fff;
      font-size: 14px; }
  /* line 42, D:/Sang/project/KulNew/app/styles/detail.scss */
  .icon-social-detail .facebook .social-round {
    background: #3C579E; }
  /* line 47, D:/Sang/project/KulNew/app/styles/detail.scss */
  .icon-social-detail .google .social-round {
    background: #DE4B39; }
  /* line 52, D:/Sang/project/KulNew/app/styles/detail.scss */
  .icon-social-detail .youtube .social-round {
    background: #55ACEE; }
  /* line 57, D:/Sang/project/KulNew/app/styles/detail.scss */
  .icon-social-detail .instagram .social-round {
    background: #0076B4; }

/* line 63, D:/Sang/project/KulNew/app/styles/detail.scss */
.box-detail-left {
  padding-bottom: 500px;
  padding-top: 20px; }
  /* line 66, D:/Sang/project/KulNew/app/styles/detail.scss */
  .box-detail-left img {
    width: 100%;
    margin-bottom: 5px; }

/* line 71, D:/Sang/project/KulNew/app/styles/detail.scss */
.box-detail-left:last-child {
  padding-bottom: 0; }

/* line 75, D:/Sang/project/KulNew/app/styles/detail.scss */
.name-ad-post span {
  float: right;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 50px; }

/* line 82, D:/Sang/project/KulNew/app/styles/detail.scss */
.bor-box-detail {
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc; }
  /* line 86, D:/Sang/project/KulNew/app/styles/detail.scss */
  .bor-box-detail .img-detail-center img {
    width: 100%; }
  /* line 89, D:/Sang/project/KulNew/app/styles/detail.scss */
  .bor-box-detail .img-detail-center span {
    text-align: center;
    display: block;
    padding-bottom: 10px;
    color: #A1A1A1;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    padding-top: 5px; }

/* line 100, D:/Sang/project/KulNew/app/styles/detail.scss */
.tags-involve {
  clear: both;
  border-top: 1px solid #dcdcdc;
  padding-top: 15px; }
  /* line 104, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tags-involve span {
    margin-left: 10px;
    background: #666;
    padding: 2px 6px 2px 2px;
    border-radius: 5px;
    transition: all .2s ease-in-out; }
    /* line 110, D:/Sang/project/KulNew/app/styles/detail.scss */
    .tags-involve span a {
      color: #fff;
      font-weight: 100; }
  /* line 115, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tags-involve span:hover {
    background: #cb0000; }

/* line 121, D:/Sang/project/KulNew/app/styles/detail.scss */
.detail-main-right .highlight-video {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dcdcdc; }
  /* line 127, D:/Sang/project/KulNew/app/styles/detail.scss */
  .detail-main-right .highlight-video .box-highlight-video .box-highlight-video-img a {
    width: 100%;
    height: 100%;
    position: absolute; }
  /* line 132, D:/Sang/project/KulNew/app/styles/detail.scss */
  .detail-main-right .highlight-video .box-highlight-video .box-highlight-video-img span.icon-play {
    top: 50px; }
  /* line 135, D:/Sang/project/KulNew/app/styles/detail.scss */
  .detail-main-right .highlight-video .box-highlight-video .box-highlight-video-img .bg-bottom-video {
    height: 50px; }
  /* line 140, D:/Sang/project/KulNew/app/styles/detail.scss */
  .detail-main-right .highlight-video .box-highlight-video-title {
    bottom: 0; }

/* line 146, D:/Sang/project/KulNew/app/styles/detail.scss */
.detail-main-right .box-large-hot-news-day .box-hot-news-day p {
  height: 64px;
  overflow: hidden;
  margin-bottom: 0; }

/* line 154, D:/Sang/project/KulNew/app/styles/detail.scss */
.video-center-detail {
  background: #000;
  padding: 15px; }
  /* line 157, D:/Sang/project/KulNew/app/styles/detail.scss */
  .video-center-detail .video-detail-left {
    padding-left: 0; }
    /* line 159, D:/Sang/project/KulNew/app/styles/detail.scss */
    .video-center-detail .video-detail-left .video-detail-img {
      position: relative; }
      /* line 161, D:/Sang/project/KulNew/app/styles/detail.scss */
      .video-center-detail .video-detail-left .video-detail-img a {
        width: 100%;
        height: 100%;
        position: absolute; }
      /* line 166, D:/Sang/project/KulNew/app/styles/detail.scss */
      .video-center-detail .video-detail-left .video-detail-img img {
        width: 100%; }
    /* line 170, D:/Sang/project/KulNew/app/styles/detail.scss */
    .video-center-detail .video-detail-left .video-detail-img {
      position: relative; }
    /* line 174, D:/Sang/project/KulNew/app/styles/detail.scss */
    .video-center-detail .video-detail-left .video-detail-img:hover span.icon-play {
      opacity: 1;
      cursor: pointer; }
    /* line 180, D:/Sang/project/KulNew/app/styles/detail.scss */
    .video-center-detail .video-detail-left .video-detail-title a {
      color: #fff; }
  /* line 185, D:/Sang/project/KulNew/app/styles/detail.scss */
  .video-center-detail .video-detail-right {
    padding-right: 0; }
    /* line 188, D:/Sang/project/KulNew/app/styles/detail.scss */
    .video-center-detail .video-detail-right .media img {
      width: 104px; }
    /* line 191, D:/Sang/project/KulNew/app/styles/detail.scss */
    .video-center-detail .video-detail-right .media a {
      color: #fff; }

/* line 197, D:/Sang/project/KulNew/app/styles/detail.scss */
.involve-news-detail {
  padding-top: 10px; }
  /* line 199, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail .box-lg-invol {
    padding-bottom: 10px;
    background: #ECECEC; }
  /* line 203, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail .fix-left-right {
    padding: 0; }
  /* line 206, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail .box-img-invol {
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin-bottom: 10px; }
    /* line 211, D:/Sang/project/KulNew/app/styles/detail.scss */
    .involve-news-detail .box-img-invol img {
      width: 100%; }
  /* line 215, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail p {
    width: 90%;
    margin: 10px auto; }
  /* line 219, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail p.item-invol-detail {
    border-top: 1px solid #fff;
    padding-top: 15px; }
  /* line 224, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail p.time-post-news > span {
    padding-right: 10px; }
  /* line 227, D:/Sang/project/KulNew/app/styles/detail.scss */
  .involve-news-detail p.time-post-news span {
    color: #A1A1A1; }

/* line 233, D:/Sang/project/KulNew/app/styles/detail.scss */
.tech-center-detail {
  background: #ECECEC;
  padding-top: 15px;
  margin-top: 15px; }
  /* line 237, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tech-center-detail .fix-left-right {
    padding: 0; }
  /* line 240, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tech-center-detail .box-img-invol {
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin-bottom: 10px; }
    /* line 245, D:/Sang/project/KulNew/app/styles/detail.scss */
    .tech-center-detail .box-img-invol img {
      width: 100%; }
  /* line 250, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tech-center-detail .box-lg-invol p {
    width: 90%;
    margin: 10px auto; }
  /* line 254, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tech-center-detail .box-lg-invol p.item-invol-detail {
    border-top: 1px solid #fff;
    padding-top: 15px; }
  /* line 259, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tech-center-detail .box-lg-invol p.time-post-news > span {
    padding-right: 10px; }
  /* line 262, D:/Sang/project/KulNew/app/styles/detail.scss */
  .tech-center-detail .box-lg-invol p.time-post-news span {
    color: #A1A1A1; }

/* line 270, D:/Sang/project/KulNew/app/styles/detail.scss */
.women-news-detail {
  padding-top: 15px; }
  /* line 272, D:/Sang/project/KulNew/app/styles/detail.scss */
  .women-news-detail .box-lg-women {
    padding-bottom: 10px;
    background: #ECECEC; }
    /* line 275, D:/Sang/project/KulNew/app/styles/detail.scss */
    .women-news-detail .box-lg-women p {
      width: 90%;
      margin: 10px auto; }
    /* line 279, D:/Sang/project/KulNew/app/styles/detail.scss */
    .women-news-detail .box-lg-women p.item-invol-detail {
      border-top: 1px solid #fff;
      padding-top: 15px; }
    /* line 284, D:/Sang/project/KulNew/app/styles/detail.scss */
    .women-news-detail .box-lg-women p.time-post-news > span {
      padding-right: 10px; }
    /* line 287, D:/Sang/project/KulNew/app/styles/detail.scss */
    .women-news-detail .box-lg-women p.time-post-news span {
      color: #A1A1A1; }
  /* line 292, D:/Sang/project/KulNew/app/styles/detail.scss */
  .women-news-detail .fix-left-right {
    padding: 0; }
  /* line 295, D:/Sang/project/KulNew/app/styles/detail.scss */
  .women-news-detail .box-img-invol {
    width: 100%;
    height: 175px;
    overflow: hidden;
    margin-bottom: 10px; }
    /* line 300, D:/Sang/project/KulNew/app/styles/detail.scss */
    .women-news-detail .box-img-invol img {
      width: 100%; }
  /* line 304, D:/Sang/project/KulNew/app/styles/detail.scss */
  .women-news-detail .line {
    margin: 15px -15px 0 0; }

/* line 6, D:/Sang/project/KulNew/app/styles/life.scss */
.title-cate-1 {
  float: left;
  margin-top: 10px;
  padding-right: 5px; }
  /* line 11, D:/Sang/project/KulNew/app/styles/life.scss */
  .title-cate-1 a {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500; }

/* line 17, D:/Sang/project/KulNew/app/styles/life.scss */
.title-cate-2 {
  float: left;
  margin-top: 14px; }
  /* line 20, D:/Sang/project/KulNew/app/styles/life.scss */
  .title-cate-2 a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 4px; }

/* line 27, D:/Sang/project/KulNew/app/styles/life.scss */
.title-cate-3 {
  margin-top: 10px; }
  /* line 29, D:/Sang/project/KulNew/app/styles/life.scss */
  .title-cate-3 a {
    font-size: 22px;
    text-decoration: none; }

/* line 34, D:/Sang/project/KulNew/app/styles/life.scss */
.title-cate-4 {
  margin-top: 0px;
  line-height: 0.95; }
  /* line 37, D:/Sang/project/KulNew/app/styles/life.scss */
  .title-cate-4 a {
    font-size: 18px;
    text-decoration: none; }

/* line 42, D:/Sang/project/KulNew/app/styles/life.scss */
.cate-top-left {
  padding-left: 0; }
  /* line 44, D:/Sang/project/KulNew/app/styles/life.scss */
  .cate-top-left li {
    float: left;
    list-style-type: none; }
    /* line 47, D:/Sang/project/KulNew/app/styles/life.scss */
    .cate-top-left li a {
      text-decoration: none;
      color: #666666;
      font-size: 13px;
      font-family: "Roboto", sans-serif; }
    /* line 53, D:/Sang/project/KulNew/app/styles/life.scss */
    .cate-top-left li span {
      padding: 0 3px; }

/* line 60, D:/Sang/project/KulNew/app/styles/life.scss */
.box-cate-large-life img {
  width: 100%; }

/* line 63, D:/Sang/project/KulNew/app/styles/life.scss */
.box-cate-large-life p {
  margin-bottom: 15px; }

/* line 67, D:/Sang/project/KulNew/app/styles/life.scss */
.box-cate-small-life {
  border-top: 1px solid #dcdcdc;
  padding-top: 15px; }
  /* line 70, D:/Sang/project/KulNew/app/styles/life.scss */
  .box-cate-small-life p {
    height: 64px;
    overflow: hidden;
    margin-bottom: 0; }

/* line 76, D:/Sang/project/KulNew/app/styles/life.scss */
ul.number-page-cate {
  float: right; }
  /* line 78, D:/Sang/project/KulNew/app/styles/life.scss */
  ul.number-page-cate li {
    float: left;
    list-style-type: none;
    width: 25px;
    padding: 3px;
    height: 25px;
    text-align: center;
    margin: 5px 5px 0 0;
    background: #eee; }
  /* line 88, D:/Sang/project/KulNew/app/styles/life.scss */
  ul.number-page-cate li.active {
    background: #f8931d; }
    /* line 90, D:/Sang/project/KulNew/app/styles/life.scss */
    ul.number-page-cate li.active a {
      color: #fff; }
    /* line 93, D:/Sang/project/KulNew/app/styles/life.scss */
    ul.number-page-cate li.active a:hover {
      color: #fff; }
  /* line 98, D:/Sang/project/KulNew/app/styles/life.scss */
  ul.number-page-cate li a {
    color: #3a3a3c;
    text-decoration: none; }
  /* line 102, D:/Sang/project/KulNew/app/styles/life.scss */
  ul.number-page-cate li a:hover {
    color: #f8931d; }

/* line 110, D:/Sang/project/KulNew/app/styles/life.scss */
.cate-highlight-news .highlight-center {
  border-top: 1px solid #dcdcdc;
  padding: 15px 0 5px; }
  /* line 113, D:/Sang/project/KulNew/app/styles/life.scss */
  .cate-highlight-news .highlight-center p {
    padding-top: 5px; }
  /* line 116, D:/Sang/project/KulNew/app/styles/life.scss */
  .cate-highlight-news .highlight-center a {
    font-size: 18px; }

/* line 122, D:/Sang/project/KulNew/app/styles/life.scss */
.cate-main-right .highlight-video {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dcdcdc; }
  /* line 128, D:/Sang/project/KulNew/app/styles/life.scss */
  .cate-main-right .highlight-video .box-highlight-video .box-highlight-video-img span.icon-play {
    top: 50px; }
  /* line 131, D:/Sang/project/KulNew/app/styles/life.scss */
  .cate-main-right .highlight-video .box-highlight-video .box-highlight-video-img .bg-bottom-video {
    height: 50px; }
  /* line 136, D:/Sang/project/KulNew/app/styles/life.scss */
  .cate-main-right .highlight-video .box-highlight-video-title {
    bottom: 0; }

/* line 142, D:/Sang/project/KulNew/app/styles/life.scss */
.cate-main-right .box-large-hot-news-day .box-hot-news-day p {
  height: 64px;
  overflow: hidden;
  margin-bottom: 0; }

/* line 150, D:/Sang/project/KulNew/app/styles/life.scss */
.cate-main-left {
  border-right: 1px solid #dcdcdc; }

/* line 153, D:/Sang/project/KulNew/app/styles/life.scss */
.cate-main-right {
  border-left: 1px solid #dcdcdc; }

/* line 3, D:/Sang/project/KulNew/app/styles/main-mb.scss */
.main-navigation-mb {
  height: 58px;
  background: #000; }

/* line 8, D:/Sang/project/KulNew/app/styles/main-mb.scss */
.navbar-header button {
  border: 1px solid #dcdcdc; }

/* line 11, D:/Sang/project/KulNew/app/styles/main-mb.scss */
.navbar-header span.icon-bar {
  background: #dcdcdc; }

/* line 15, D:/Sang/project/KulNew/app/styles/main-mb.scss */
.navbar-mb {
  display: none; }

/* line 6, D:/Sang/project/KulNew/app/styles/main.scss */
body {
  font-family: "Noto Serif", serif;
  background: #f7f7f7; }

/* sum */
/* line 13, D:/Sang/project/KulNew/app/styles/main.scss */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: static; }

/* line 20, D:/Sang/project/KulNew/app/styles/main.scss */
section {
  clear: both; }

/* line 23, D:/Sang/project/KulNew/app/styles/main.scss */
.hot-news-top {
  margin-top: 50px;
  margin-bottom: 10px;
  height: 45px;
  overflow: hidden; }
  /* line 28, D:/Sang/project/KulNew/app/styles/main.scss */
  .hot-news-top a {
    padding-right: 50px; }
  /* line 31, D:/Sang/project/KulNew/app/styles/main.scss */
  .hot-news-top .hot {
    color: #fff;
    background: #cb0000;
    margin-left: 10px;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4px; }

/* line 40, D:/Sang/project/KulNew/app/styles/main.scss */
.clear {
  clear: both; }

/* line 43, D:/Sang/project/KulNew/app/styles/main.scss */
.main-navigation {
  padding: 0 5px; }

/* line 46, D:/Sang/project/KulNew/app/styles/main.scss */
.site-header {
  background: #000;
  height: 56px;
  color: #fff;
  border-bottom: 3px solid #ccc; }

/* line 52, D:/Sang/project/KulNew/app/styles/main.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; }

/* line 58, D:/Sang/project/KulNew/app/styles/main.scss */
a {
  text-decoration: none !important;
  color: #000;
  transition: all .22s ease-in-out;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

/* line 66, D:/Sang/project/KulNew/app/styles/main.scss */
a:hover, a:focus {
  color: #cb0000;
  outline: none; }

/* line 70, D:/Sang/project/KulNew/app/styles/main.scss */
.main-left {
  border-right: 1px solid #dcdcdc; }

/* line 73, D:/Sang/project/KulNew/app/styles/main.scss */
p.content-news {
  font-size: 14px;
  font-family: "Noto Serif", serif;
  color: #000; }

/* line 79, D:/Sang/project/KulNew/app/styles/main.scss */
.topmargin-fix {
  margin-top: 0px; }

/* line 82, D:/Sang/project/KulNew/app/styles/main.scss */
.title-main-1 {
  margin-top: 10px; }
  /* line 84, D:/Sang/project/KulNew/app/styles/main.scss */
  .title-main-1 a {
    font-size: 30px;
    letter-spacing: -1px; }

/* line 89, D:/Sang/project/KulNew/app/styles/main.scss */
.title-main-2 {
  margin-top: 10px; }
  /* line 91, D:/Sang/project/KulNew/app/styles/main.scss */
  .title-main-2 a {
    font-size: 26px; }

/* line 95, D:/Sang/project/KulNew/app/styles/main.scss */
.title-main-3 {
  margin-top: 10px;
  line-height: 1; }
  /* line 98, D:/Sang/project/KulNew/app/styles/main.scss */
  .title-main-3 a {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700; }

/* line 104, D:/Sang/project/KulNew/app/styles/main.scss */
.title-main-4 {
  margin-top: 10px; }
  /* line 106, D:/Sang/project/KulNew/app/styles/main.scss */
  .title-main-4 a {
    font-size: 18px;
    line-height: 22px; }

/* line 112, D:/Sang/project/KulNew/app/styles/main.scss */
.event-top a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  padding: 0px 30px 0 0;
  font-family: "Roboto", sans-serif; }

/* line 121, D:/Sang/project/KulNew/app/styles/main.scss */
.event-top a:hover {
  color: #cb0000; }

/* line 125, D:/Sang/project/KulNew/app/styles/main.scss */
.event-title {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #cb0000;
  font-weight: bold;
  text-decoration: none; }

/* line 134, D:/Sang/project/KulNew/app/styles/main.scss */
.main-right h2 {
  margin-top: 10px; }
  /* line 136, D:/Sang/project/KulNew/app/styles/main.scss */
  .main-right h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0; }

/* line 146, D:/Sang/project/KulNew/app/styles/main.scss */
.sub-title-left h2 {
  margin-top: 0px; }
  /* line 148, D:/Sang/project/KulNew/app/styles/main.scss */
  .sub-title-left h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0; }

/* line 156, D:/Sang/project/KulNew/app/styles/main.scss */
.sub-title-left a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  transition: all .22s ease-in-out;
  font-weight: 500;
  font-family: "Noto Serif", serif; }

/* line 165, D:/Sang/project/KulNew/app/styles/main.scss */
.sub-title-left a:hover {
  color: #e52d30; }

/* line 168, D:/Sang/project/KulNew/app/styles/main.scss */
.sub-title-left p {
  margin-bottom: 5px; }

/* line 173, D:/Sang/project/KulNew/app/styles/main.scss */
.border-top-sub {
  border-top: 4px solid #222;
  width: 30px; }

/* line 177, D:/Sang/project/KulNew/app/styles/main.scss */
.line {
  clear: both;
  margin: 15px;
  border-top: 1px solid #d5d5d5; }

/* line 182, D:/Sang/project/KulNew/app/styles/main.scss */
.line-1 {
  clear: both;
  margin: 15px 0;
  border-top: 1px solid #d5d5d5; }

/* line 187, D:/Sang/project/KulNew/app/styles/main.scss */
.padding {
  clear: both;
  padding: 15px; }

/* line 192, D:/Sang/project/KulNew/app/styles/main.scss */
.col-fix-divide-right-large .line {
  margin-left: 0;
  margin-right: 0; }

/* line 197, D:/Sang/project/KulNew/app/styles/main.scss */
.main-left {
  border-right: 1px solid #dcdcdc; }

/* end sum */
/* header */
/* line 203, D:/Sang/project/KulNew/app/styles/main.scss */
ul.navbar-nav {
  text-align: center;
  margin: 0 auto;
  display: block; }
  /* line 207, D:/Sang/project/KulNew/app/styles/main.scss */
  ul.navbar-nav li {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5px;
    height: 56px; }
  /* line 213, D:/Sang/project/KulNew/app/styles/main.scss */
  ul.navbar-nav li.main-menu-home {
    width: 90px;
    height: 72px;
    margin: -10px 13px 0 10px;
    background: #cb0000; }
    /* line 218, D:/Sang/project/KulNew/app/styles/main.scss */
    ul.navbar-nav li.main-menu-home h1 {
      margin-top: 11px;
      margin-bottom: 0px; }

/* line 224, D:/Sang/project/KulNew/app/styles/main.scss */
.caret {
  margin-left: 5px; }

/* line 227, D:/Sang/project/KulNew/app/styles/main.scss */
.navbar-nav > li > a {
  color: #fff;
  padding: 12px 10px 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  outline: none;
  box-shadow: none;
  font-size: 13px;
  opacity: 1; }

/* line 237, D:/Sang/project/KulNew/app/styles/main.scss */
.navbar-nav > li > a:hover {
  background: none;
  color: #fff;
  opacity: 1; }

/* line 242, D:/Sang/project/KulNew/app/styles/main.scss */
.navbar-nav > li > a:focus {
  background: transparent; }

/* line 245, D:/Sang/project/KulNew/app/styles/main.scss */
li.active-menu > a:focus {
  background: transparent; }

/* line 248, D:/Sang/project/KulNew/app/styles/main.scss */
li.active-menu > a {
  color: #cb0000;
  opacity: 1;
  margin-top: 5px; }

/* line 253, D:/Sang/project/KulNew/app/styles/main.scss */
ul.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  margin-top: 5px;
  min-width: 200px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  top: 50px; }
  /* line 268, D:/Sang/project/KulNew/app/styles/main.scss */
  ul.dropdown-menu li.menu-header a {
    text-transform: uppercase;
    background: #ddd;
    font-weight: bold; }
  /* line 273, D:/Sang/project/KulNew/app/styles/main.scss */
  ul.dropdown-menu li {
    height: auto; }
  /* line 276, D:/Sang/project/KulNew/app/styles/main.scss */
  ul.dropdown-menu li a {
    font-size: 13px;
    text-transform: none;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif; }
  /* line 282, D:/Sang/project/KulNew/app/styles/main.scss */
  ul.dropdown-menu li > a:focus, ul.dropdown-menu li > a:hover {
    transition: 0.22s; }

/* line 287, D:/Sang/project/KulNew/app/styles/main.scss */
.search-box {
  position: relative;
  padding-right: 10px; }
  /* line 291, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box .input-group-addon {
    background: #fff;
    transition: all .3s ease-in-out; }
  /* line 295, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box .input-group-addon:hover {
    background: #ddd;
    cursor: pointer; }
  /* line 299, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box button {
    position: absolute;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
    right: 10px;
    top: 6px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 0;
    transition: all .3s ease-in-out;
    outline: none !important;
    box-shadow: none !important;
    opacity: .8; }
    /* line 315, D:/Sang/project/KulNew/app/styles/main.scss */
    .search-box button span {
      padding-left: 10px; }
  /* line 319, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box button:hover, .search-box button:active, .search-box button:focus,
  .search-box button:active:focus {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    opacity: 1; }
  /* line 326, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box #search-form {
    display: none; }
  /* line 327, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box .input-group {
    position: absolute;
    right: 10px;
    top: 55px;
    width: 225px; }
  /* line 334, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box input.form-control {
    outline: none;
    box-shadow: none;
    border-right: none; }
  /* line 341, D:/Sang/project/KulNew/app/styles/main.scss */
  .search-box input.form-control:focus {
    border: 1px solid #dcdcdc;
    border-right: none; }

/* line 347, D:/Sang/project/KulNew/app/styles/main.scss */
ul li:hover ul.dropdown-menu,
ul li:hover .arrow_box {
  visibility: visible;
  opacity: 1; }

/* line 352, D:/Sang/project/KulNew/app/styles/main.scss */
.arrow_box {
  position: relative;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  bottom: -19px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

/* line 364, D:/Sang/project/KulNew/app/styles/main.scss */
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

/* line 375, D:/Sang/project/KulNew/app/styles/main.scss */
.arrow_box:after {
  border-bottom-color: #fff;
  border-width: 14px;
  margin-left: -14px; }

/* line 380, D:/Sang/project/KulNew/app/styles/main.scss */
.arrow_box:before {
  border-bottom-color: #ccc;
  border-width: 15px;
  margin-left: -15px; }

/* line 388, D:/Sang/project/KulNew/app/styles/main.scss */
.view-more-event {
  clear: both;
  border-top: 3px #222 solid;
  border-bottom: 1px solid #d4d4d4;
  padding: 14px 0 12px;
  margin-bottom: 20px; }
  /* line 394, D:/Sang/project/KulNew/app/styles/main.scss */
  .view-more-event h2 {
    font-size: 0px;
    margin-top: 0px;
    margin-bottom: 0px; }

/* end header */
/* new highlight */
/* line 404, D:/Sang/project/KulNew/app/styles/main.scss */
.highlight-left {
  border-right: 1px solid #dcdcdc; }

/* line 408, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-left:nth-child(2) {
  border-top: none; }
  /* line 409, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-left:nth-child(2) p {
    height: auto; }

/* line 415, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-left {
  border-top: 1px solid #dcdcdc; }
  /* line 417, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-left .title-main-1 {
    margin-top: 0px; }
  /* line 420, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-left img {
    width: 135px;
    margin-top: 5px; }
  /* line 424, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-left .media-right {
    padding-left: 0; }
  /* line 427, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-left p {
    height: 160px;
    overflow: hidden; }

/* line 432, D:/Sang/project/KulNew/app/styles/main.scss */
.top-hightnews {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
  padding-bottom: 15px; }

/* line 437, D:/Sang/project/KulNew/app/styles/main.scss */
.top-hightnews2 {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
  padding-bottom: 0; }

/* line 442, D:/Sang/project/KulNew/app/styles/main.scss */
.highlight-right .box-highlight-right:nth-child(2) {
  border-top: 1px solid #dcdcdc; }

/* line 447, D:/Sang/project/KulNew/app/styles/main.scss */
.name-highlight h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  float: left;
  padding-right: 5px;
  font-weight: 700;
  margin-top: 0; }

/* line 456, D:/Sang/project/KulNew/app/styles/main.scss */
.name-highlight img {
  margin-top: -15px; }

/* line 460, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-left,
.box-highlight-left-1 {
  clear: both; }

/* line 465, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-right img, .box-highlight-right-1 img {
  width: 100%; }

/* line 469, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-right .media-right img, .box-highlight-right-1 .media-right img {
  width: 135px; }

/* line 473, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-right .line, .box-highlight-right-1 .line {
  margin: 0; }

/* line 476, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-right p, .box-highlight-right-1 p {
  height: 102px;
  overflow: hidden; }

/* end new highlight */
/* new light */
/* line 484, D:/Sang/project/KulNew/app/styles/main.scss */
.box-info-life {
  height: 275px; }
  /* line 486, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-info-life p {
    height: 47px;
    overflow: hidden; }
  /* line 490, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-info-life img {
    width: 100%;
    margin-bottom: 8px; }

/* end new light */
/* entertainment-news */
/* line 499, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-entertaiment img {
  width: 210px; }

/* line 502, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-entertaiment h3 {
  margin-top: 0; }

/* line 505, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-entertaiment .line {
  margin-left: 0;
  margin-right: 0; }

/* line 510, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-entertaiment {
  margin-top: 0; }
  /* line 512, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-entertaiment h3 {
    margin-top: 0px;
    line-height: .75;
    margin-bottom: 5px; }
  /* line 517, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-entertaiment img {
    width: 140px; }
  /* line 520, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-entertaiment .line {
    margin-left: 0;
    margin-right: 0; }

/* end entertainment-news */
/* tv-shows-news */
/* line 527, D:/Sang/project/KulNew/app/styles/main.scss */
.box-tv-shows {
  padding-bottom: 15px;
  height: 110px; }
  /* line 530, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-tv-shows img {
    width: 140px; }
  /* line 534, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-tv-shows .media-body a {
    height: 66px;
    display: block; }

/* end tv-shows-news */
/* movie-news */
/* line 543, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-movie-left img {
  width: 100%; }

/* line 548, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-movie-right img {
  width: 100%;
  margin-bottom: 5px; }

/* line 554, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-movie-bottom {
  padding-top: 15px; }
  /* line 556, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-movie-bottom p {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px; }

/* end movie new */
/* fashion new */
/* line 564, D:/Sang/project/KulNew/app/styles/main.scss */
.box-content-fashion img {
  width: 100%;
  margin-bottom: 10px; }

/* line 568, D:/Sang/project/KulNew/app/styles/main.scss */
.box-content-fashion p {
  margin-bottom: 0;
  text-align: center; }

/* end fashion new */
/* women */
/* line 578, D:/Sang/project/KulNew/app/styles/main.scss */
.box-content-women {
  padding: 10px;
  background: #fff; }
  /* line 581, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-content-women img {
    width: 100%; }
  /* line 584, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-content-women a {
    font-weight: 700; }
  /* line 587, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-content-women p {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    height: 54px;
    overflow: hidden; }

/* end women */
/* tech */
/* line 598, D:/Sang/project/KulNew/app/styles/main.scss */
.content-tech-main .col-xs-4 {
  width: 31.3333%; }
  /* line 600, D:/Sang/project/KulNew/app/styles/main.scss */
  .content-tech-main .col-xs-4 .link-info-tech-right {
    height: 84px;
    overflow: hidden; }
    /* line 603, D:/Sang/project/KulNew/app/styles/main.scss */
    .content-tech-main .col-xs-4 .link-info-tech-right a {
      font-weight: 700; }

/* line 610, D:/Sang/project/KulNew/app/styles/main.scss */
.content-tech-top-left-small {
  width: 62.5%; }
  /* line 612, D:/Sang/project/KulNew/app/styles/main.scss */
  .content-tech-top-left-small img {
    width: 213px; }
  /* line 615, D:/Sang/project/KulNew/app/styles/main.scss */
  .content-tech-top-left-small h3 {
    margin-top: 0; }

/* line 619, D:/Sang/project/KulNew/app/styles/main.scss */
.content-tech-top-right-small {
  border-left: 1px solid #dcdcdc; }
  /* line 621, D:/Sang/project/KulNew/app/styles/main.scss */
  .content-tech-top-right-small img {
    width: 94px; }
  /* line 624, D:/Sang/project/KulNew/app/styles/main.scss */
  .content-tech-top-right-small p {
    height: 64px;
    overflow: hidden; }

/* end tech */
/* vehicles-news */
/* line 632, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-vehicles-left img {
  width: 100%; }

/* line 635, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-vehicles-left p {
  height: 80px;
  overflow: hidden; }

/* line 640, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-vehicles-right {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 10px; }
  /* line 644, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-vehicles-right img {
    width: 94px; }
  /* line 647, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-vehicles-right p {
    height: 64px;
    margin-bottom: 0;
    overflow: hidden; }

/* line 653, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-vehicles-right:last-child {
  padding-bottom: 0;
  border-bottom: none; }

/* end vehicles-news */
/* sport-news */
/* line 660, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-sport img {
  width: 100%; }

/* line 663, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-sport h3 {
  height: 52px;
  overflow: hidden; }

/* line 668, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-sport {
  border-top: 1px solid #dcdcdc;
  padding-top: 15px; }
  /* line 671, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-sport img {
    width: 90px; }
  /* line 674, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-sport p {
    height: 64px;
    margin-bottom: -5px;
    overflow: hidden;
    position: relative;
    top: -3px; }

/* end sport-news */
/* video news */
/* line 685, D:/Sang/project/KulNew/app/styles/main.scss */
span.icon-play {
  background-image: url("images/icon-play.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 44%;
  width: 50px;
  height: 62px;
  top: 80px;
  opacity: 0.7;
  transition: 0.3s;
  background-size: 50px 60px; }

/* line 698, D:/Sang/project/KulNew/app/styles/main.scss */
a:hover span.icon-play {
  opacity: 1; }

/* line 703, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .pull-left img {
  width: 100%; }

/* line 707, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .link-bottom-video {
  clear: both;
  padding-top: 5px; }

/* line 711, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .media {
  padding-top: 15px;
  border-top: 1px solid #dcdcdc;
  clear: both; }
  /* line 715, D:/Sang/project/KulNew/app/styles/main.scss */
  .video-news .media img {
    width: 146px; }

/* line 720, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .box-play, .video-news .box-play1, .video-news .box-play-img-video {
  position: relative; }

/* line 723, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .img-video-large {
  width: 100%; }

/* line 727, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .box-play a.hover-box-video {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0; }

/* line 738, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .box-play:hover span.icon-play {
  opacity: 1; }

/* line 743, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .box-play1 span.icon-play {
  background-size: 25px 30px;
  top: 25px; }

/* line 748, D:/Sang/project/KulNew/app/styles/main.scss */
.video-news .box-main-video {
  padding: 10px;
  background: #222; }
  /* line 751, D:/Sang/project/KulNew/app/styles/main.scss */
  .video-news .box-main-video a {
    color: #fff; }

/* end video new */
/* main-right */
/* line 761, D:/Sang/project/KulNew/app/styles/main.scss */
.search-input {
  border: none;
  height: 42px;
  width: 100%;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out; }

/* line 771, D:/Sang/project/KulNew/app/styles/main.scss */
.search-input:focus {
  border: 1px solid #dcdcdc;
  box-shadow: none;
  outline: none !important; }

/* line 776, D:/Sang/project/KulNew/app/styles/main.scss */
.search-btn {
  color: #fff;
  padding: 10px 30px;
  border-radius: 0;
  margin-left: -5px;
  background: #a1a1a1;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 0px;
  right: 0;
  transition: all .3s ease-in-out;
  font-family: "Roboto Condensed", sans-serif; }

/* line 790, D:/Sang/project/KulNew/app/styles/main.scss */
.search-btn:hover {
  background: #cecece; }

/* line 795, D:/Sang/project/KulNew/app/styles/main.scss */
.highlight-video img {
  width: 100%; }

/* line 798, D:/Sang/project/KulNew/app/styles/main.scss */
.highlight-video .bg-bottom-video {
  position: absolute;
  z-index: 1;
  height: 40px;
  background: #888;
  opacity: .3;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  color: #fff;
  cursor: pointer; }

/* line 811, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-video {
  position: relative; }
  /* line 814, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-video .box-highlight-video-img span.icon-play {
    cursor: pointer;
    opacity: 0.5;
    top: 70px; }
  /* line 819, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-video .box-highlight-video-img a {
    position: absolute;
    display: block;
    width: 100%;
    height: 216px; }
  /* line 829, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-video .box-highlight-video-title {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    z-index: 1; }
  /* line 835, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-highlight-video a {
    color: #fff;
    display: block;
    padding: 0 10px; }

/* line 842, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-video:hover a {
  opacity: 1; }

/* line 847, D:/Sang/project/KulNew/app/styles/main.scss */
.box-highlight-video:hover span.icon-play {
  opacity: 1; }

/* event-stream */
/* line 852, D:/Sang/project/KulNew/app/styles/main.scss */
.event-stream-news {
  clear: both;
  padding-top: 30px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  /* line 859, D:/Sang/project/KulNew/app/styles/main.scss */
  .event-stream-news .box-stream-info-top img {
    width: 100%; }
  /* line 864, D:/Sang/project/KulNew/app/styles/main.scss */
  .event-stream-news .box-tream-info {
    border-top: 1px solid #dcdcdc;
    padding-top: 15px; }
    /* line 867, D:/Sang/project/KulNew/app/styles/main.scss */
    .event-stream-news .box-tream-info a {
      font-weight: 700; }
    /* line 870, D:/Sang/project/KulNew/app/styles/main.scss */
    .event-stream-news .box-tream-info img {
      width: 114px; }

/* end even-stream */
/* hot-news-day */
/* line 880, D:/Sang/project/KulNew/app/styles/main.scss */
.hot-news-day .box-large-hot-news-day {
  padding: 10px;
  background: #fff; }
  /* line 883, D:/Sang/project/KulNew/app/styles/main.scss */
  .hot-news-day .box-large-hot-news-day .box-hot-news-day {
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    margin-top: 10px; }
    /* line 887, D:/Sang/project/KulNew/app/styles/main.scss */
    .hot-news-day .box-large-hot-news-day .box-hot-news-day a {
      font-weight: 100; }
  /* line 892, D:/Sang/project/KulNew/app/styles/main.scss */
  .hot-news-day .box-large-hot-news-day .box-hot-news-day:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }

/* end hot-new-day */
/*end main-right  */
/* game noob */
/* line 903, D:/Sang/project/KulNew/app/styles/main.scss */
.box-img-title-left {
  width: 164px;
  height: 44px;
  position: relative; }
  /* line 907, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-img-title-left img {
    z-index: 1;
    position: absolute;
    padding-top: 31px;
    width: 100%; }

/* line 914, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-gamenoob {
  padding: 15px 0 15px;
  margin: 15px 0 !important;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc; }
  /* line 919, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-large-gamenoob .img-large-noob {
    width: 272px;
    height: 155px;
    overflow: hidden; }
    /* line 923, D:/Sang/project/KulNew/app/styles/main.scss */
    .box-large-gamenoob .img-large-noob img {
      width: 100%; }
  /* line 927, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-large-gamenoob .title-main-3 {
    margin-top: 0;
    font-size: 20px; }
  /* line 931, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-large-gamenoob p {
    margin-bottom: 0;
    height: 82px;
    overflow: hidden; }

/* line 937, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-gamenoob {
  margin-left: -10px;
  margin-right: -10px; }
  /* line 938, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-gamenoob .img-noob {
    width: 100%;
    height: 64px;
    overflow: hidden; }
    /* line 942, D:/Sang/project/KulNew/app/styles/main.scss */
    .box-small-gamenoob .img-noob img {
      width: 100%; }
  /* line 948, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-gamenoob .noob-sm {
    width: 20%;
    padding-left: 10px;
    float: left;
    padding-right: 10px;
    display: block; }
    /* line 954, D:/Sang/project/KulNew/app/styles/main.scss */
    .box-small-gamenoob .noob-sm p {
      height: 94px;
      overflow: hidden;
      padding-top: 10px;
      margin-bottom: 0; }

/* end game noob */
/* tn game */
/* line 964, D:/Sang/project/KulNew/app/styles/main.scss */
.box-large-tn-game {
  padding: 15px 0 15px;
  margin: 15px 0 !important;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc; }
  /* line 969, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-large-tn-game .img-large-tn-game {
    width: 272px;
    height: 155px;
    overflow: hidden; }
    /* line 973, D:/Sang/project/KulNew/app/styles/main.scss */
    .box-large-tn-game .img-large-tn-game img {
      width: 100%; }
  /* line 977, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-large-tn-game .title-main-3 {
    margin-top: 0;
    font-size: 20px; }
  /* line 981, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-large-tn-game p {
    margin-bottom: 0;
    height: 82px;
    overflow: hidden; }

/* line 987, D:/Sang/project/KulNew/app/styles/main.scss */
.box-small-tn-game {
  margin-left: -10px;
  margin-right: -10px; }
  /* line 990, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-tn-game .img-tn-game {
    width: 100%;
    height: 64px;
    overflow: hidden; }
    /* line 994, D:/Sang/project/KulNew/app/styles/main.scss */
    .box-small-tn-game .img-tn-game img {
      width: 100%; }
  /* line 998, D:/Sang/project/KulNew/app/styles/main.scss */
  .box-small-tn-game .tn-game-sm {
    width: 20%;
    padding-left: 10px;
    float: left;
    padding-right: 10px;
    display: block; }
    /* line 1004, D:/Sang/project/KulNew/app/styles/main.scss */
    .box-small-tn-game .tn-game-sm p {
      height: 94px;
      overflow: hidden;
      padding-top: 10px;
      margin-bottom: 0; }

/* end tn-game */
/* footer */
/* line 1014, D:/Sang/project/KulNew/app/styles/main.scss */
.main-footer {
  border-top: 1px solid #dcdcdc;
  margin-top: 30px;
  font-family: "Noto Serif", serif;
  padding-bottom: 30px;
  font-size: 14px; }
  /* line 1020, D:/Sang/project/KulNew/app/styles/main.scss */
  .main-footer .col-xs-3:first-child p {
    padding-right: 40px; }
  /* line 1023, D:/Sang/project/KulNew/app/styles/main.scss */
  .main-footer p {
    margin-bottom: 0;
    color: #000; }
  /* line 1027, D:/Sang/project/KulNew/app/styles/main.scss */
  .main-footer h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: "Noto Serif", serif; }

/* line 1035, D:/Sang/project/KulNew/app/styles/main.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

/* line 1044, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .icon {
  color: #222;
  width: 48%;
  display: block;
  float: left;
  margin: 0 1.6% 4px 0; }

/* line 1051, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .text-footer {
  overflow: hidden; }
  /* line 1053, D:/Sang/project/KulNew/app/styles/main.scss */
  .widget-socialize .text-footer p {
    color: #888; }
  /* line 1056, D:/Sang/project/KulNew/app/styles/main.scss */
  .widget-socialize .text-footer p:first-child {
    font-size: 24px; }
  /* line 1060, D:/Sang/project/KulNew/app/styles/main.scss */
  .widget-socialize .text-footer p:last-child {
    font-size: 12px; }

/* line 1064, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .symbol {
  width: 55px;
  height: 55px;
  display: block;
  float: left;
  text-align: center;
  padding: 8px;
  font-size: 30px;
  color: #fff;
  margin-right: 8px; }

/* line 1076, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .facebook .symbol {
  background-color: #3b5998; }

/* line 1081, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .google .symbol {
  background-color: #dd4b39; }

/* line 1086, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .youtube .symbol {
  background-color: #dd4b39; }

/* line 1091, D:/Sang/project/KulNew/app/styles/main.scss */
.widget-socialize .instagram .symbol {
  background-color: #3f729b; }

/* end footer */
/* line 1098, D:/Sang/project/KulNew/app/styles/main.scss */
.container {
  width: 1260px !important; }

/* line 1101, D:/Sang/project/KulNew/app/styles/main.scss */
.col-fix-divide-left-large {
  width: 9.5%;
  padding-right: 0; }

/* line 1105, D:/Sang/project/KulNew/app/styles/main.scss */
.col-fix-divide-left-large2 {
  width: 11.11%;
  padding-right: 0; }

/* line 1109, D:/Sang/project/KulNew/app/styles/main.scss */
.col-fix-2 {
  padding-right: 0; }

/* line 1112, D:/Sang/project/KulNew/app/styles/main.scss */
.col-fix-divide-right-large {
  width: 88.89%; }

/*Responsive*/



/*# sourceMappingURL=app.css.map*/