body {
  font-family: "Noto Serif", serif;
  background: #f7f7f7; }

a {
  text-decoration: none !important;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700; }

a:hover, a:focus {
  color: #cb0000;
  outline: none; }

.content-news {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px; }

.main-navigation {
  height: 58px;
  background: #000; }
  .main-navigation .logo-top-left {
    width: 95px;
    height: 58px;
    background: #cb0000;
    margin-left: -15px; }
    .main-navigation .logo-top-left img {
      margin: 0 auto;
      display: block;
      padding: 5px; }
  .main-navigation .navbar-header {
    float: right; }
    .main-navigation .navbar-header button {
      display: block;
      border: 1px solid #fff;
      padding: 8px;
      border-radius: 0;
      margin-right: 0px;
      transition: all .22s ease-in-out; }
      .main-navigation .navbar-header button .icon-bar + .icon-bar {
        margin-top: 7px; }
      .main-navigation .navbar-header button .icon-bar {
        width: 33px;
        height: 3px; }
    .main-navigation .navbar-header button:hover {
      background: #cb0000; }
    .main-navigation .navbar-header span.icon-bar {
      background: #fff; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #000;
  color: #fff; }

.btn-menu {
  display: none;
  background: #000;
  margin: 0px -15px 15px; }
  .btn-menu a {
    box-shadow: none;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: normal;
    opacity: 1;
    outline: medium none; }
  .btn-menu a:active, .btn-menu a:focus, .btn-menu a:hover {
    color: #000; }
  .btn-menu ul.navbar-nav {
    background: #000;
    margin: 0px; }
    .btn-menu ul.navbar-nav > li {
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      border-top: 1px solid #333; }
    .btn-menu ul.navbar-nav li ul li a {
      padding: 7px 20px; }

ul.dropdown-menu {
  width: 100%;
  z-index: 3;
  background-color: #fff !important;
  transition: all 0.3s ease-in-out; }

.title-main-1 {
  margin-top: 5px;
  font-size: 20px; }
  .title-main-1 a {
    font-size: 20px; }

.title-main-2 {
  margin-top: 10px;
  font-size: 17px; }
  .title-main-2 a {
    font-size: 17px;
    text-transform: uppercase; }

.title-main-3 {
  margin-top: 0px;
  font-size: 18px; }
  .title-main-3 a {
    font-size: 18px; }

.title-main-4 {
  margin-top: 10px;
  font-size: 16px; }
  .title-main-4 a {
    font-weight: bold; }

.line-top {
  height: 4px;
  width: 35px;
  background: #000; }

.line-bor-top {
  padding-top: 15px;
  border-top: 1px solid #dcdcdc;
  margin-top: 15px; }

.line-left {
  border-left: 1px solid #dcdcdc; }

/* highlight-news */
.highlight-news {
  padding-top: 15px; }
  .highlight-news .highlight-large img {
    width: 100%; }
  .highlight-news .highligh-small .media {
    border-top: 1px solid #dcdcdc;
    padding-top: 15px; }
    .highlight-news .highligh-small .media .box-img-highlight {
      width: 103px;
      height: 76px;
      overflow: hidden; }
    .highlight-news .highligh-small .media img {
      width: 100%; }
  .highlight-news .highligh-small a {
    font-size: 18px; }

/* end highlight-news */
.life-news .life-large {
  padding-top: 10px; }
  .life-news .life-large img {
    width: 100%; }

.entertaiment-news .entertaiment-large {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px; }
  .entertaiment-news .entertaiment-large .box-img-entertaiment {
    width: 127px;
    height: 84px;
    overflow: hidden; }
  .entertaiment-news .entertaiment-large img {
    width: 100%; }

.tv-shows-news {
  padding-top: 15px; }
  .tv-shows-news .tv-show-small .box-img-tv-show {
    width: 100%;
    height: 104px;
    overflow: hidden; }
  .tv-shows-news .tv-show-small img {
    width: 100%; }
  .tv-shows-news .title-main-4 {
    height: 52px;
    overflow: hidden;
    margin-bottom: 20px; }

.movie-news .movie-large img {
  width: 100%; }
.movie-news .movie-small .media {
  padding-top: 15px;
  border-top: 1px solid #dcdcdc; }
  .movie-news .movie-small .media .box-img-movie-sm {
    width: 128px;
    height: 73px;
    overflow: hidden; }
.movie-news .movie-small img {
  width: 100%; }
.movie-news .movie-small p {
  height: 64px;
  overflow: hidden;
  margin-bottom: 0; }

.fashion-news .fashion-news-small .box-img-fashion {
  width: 100%;
  height: 222px;
  overflow: hidden; }
.fashion-news .fashion-news-small img {
  width: 100%;
  padding-bottom: 5px; }
.fashion-news .fashion-news-small p {
  padding-top: 10px;
  text-align: center;
  height: 74px;
  overflow: hidden; }

.women-news .women-news-large .box-img-women {
  height: 118px;
  width: 177px;
  overflow: hidden; }
.women-news .women-news-large img {
  width: 100%; }
.women-news .women-news-large p {
  padding-top: 10px;
  height: 75px;
  overflow: hidden; }
.women-news .women-news-large .women-news-small p {
  border-top: 1px solid #dcdcdc; }

.tech-news .tech-news-large .title-main-3 {
  margin-top: 10px; }
.tech-news .tech-news-large img {
  width: 100%; }
.tech-news .tech-news-small {
  border-top: 1px solid #dcdcdc;
  padding-top: 15px; }
  .tech-news .tech-news-small .box-img-tech {
    width: 141px;
    height: 94px;
    overflow: hidden; }
  .tech-news .tech-news-small .media-body p {
    height: 84px;
    overflow: hidden;
    margin-bottom: 0; }
  .tech-news .tech-news-small img {
    width: 100%; }

.vehicles-news .vehicles-news-small .box-img-vehicles {
  width: 100%;
  height: 118px;
  overflow: hidden; }
.vehicles-news .vehicles-news-small img {
  width: 100%; }
.vehicles-news .vehicles-news-small p {
  padding-top: 10px;
  height: 74px;
  overflow: hidden; }

.sport-news .box-img-sport-large img {
  width: 100%; }
.sport-news .sport-news-small img {
  width: 100%; }
.sport-news .sport-news-small .box-img-sport-small {
  height: 111px;
  overflow: hidden; }
.sport-news .sport-news-small p {
  height: 74px;
  overflow: hidden;
  padding-top: 10px; }

.video-news .box-play a.hover-box-video {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0; }
.video-news p {
  height: 64px;
  overflow: hidden; }
.video-news .box-play, .video-news .box-play1 {
  position: relative; }
.video-news .box-play1 {
  width: 146px;
  height: 82px;
  overflow: hidden; }
  .video-news .box-play1 img {
    width: 100%; }
  .video-news .box-play1 span.icon-play {
    background-size: 25px 30px;
    top: 25px; }
.video-news span.icon-play {
  background-image: url("images/icon-play.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 44%;
  width: 50px;
  height: 62px;
  top: 80px;
  transition: 0.3s;
  background-size: 50px 60px; }

.main-footer {
  margin-top: 15px;
  border-top: 1px solid #dcdcdc; }
  .main-footer .info-footer {
    font-family: "Noto Serif", serif;
    font-size: 14px;
    color: #000; }
  .main-footer .title-footer {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px; }
  .main-footer .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
  .main-footer .widget-socialize .icon {
    color: #222;
    width: 48%;
    display: block;
    float: left;
    margin: 0 1.6% 4px 0; }
  .main-footer .widget-socialize .text-footer {
    overflow: hidden; }
    .main-footer .widget-socialize .text-footer p {
      color: #888; }
    .main-footer .widget-socialize .text-footer p:first-child {
      font-size: 24px;
      margin-bottom: 0; }
    .main-footer .widget-socialize .text-footer p:last-child {
      font-size: 12px; }
  .main-footer .widget-socialize .symbol {
    width: 55px;
    height: 55px;
    display: block;
    float: left;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    color: #fff;
    margin-right: 8px; }
  .main-footer .widget-socialize .facebook .symbol {
    background-color: #3b5998; }
  .main-footer .widget-socialize .google .symbol {
    background-color: #dd4b39; }
  .main-footer .widget-socialize .youtube .symbol {
    background-color: #dd4b39; }
  .main-footer .widget-socialize .instagram .symbol {
    background-color: #3f729b; }

/*# sourceMappingURL=appmobile.css.map */
