doctype html
html
	include ./head.jade
	body(onload="onLoad()")
		include ./header.jade

		include ./hot-news.jade
		section.cate-main-life
			.container
				.row
					.col-xs-12
						ul.cate-top-left
							li
								a(href="#") Trang chủ
								span >
							li
								a(href="#") Đời sống
					.col-xs-12.content-cate-life
						.row
							.col-xs-6.cate-main-left
								.title-cate
									h1.title-cate-1
										a(href="#") Đời sống
									h2.title-cate-2
										a(href="#") Nhịp sống
									h2.title-cate-2
										a(href="#") Nhân vật
									h2.title-cate-2
										a(href="#") Giới trẻ
									h2.title-cate-2
										a(href="#") Xem-ăn-chơi
									h2.title-cate-2
										a(href="#") Sức khỏe
									h2.title-cate-2
										a(href="#") khám phá
								.box-cate-large-life
									img(src="images/category-life-02.png", alt="Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể")
									h3.title-cate-3 
										a(href="#") Cách mà người Pháp đã làm với đồ ăn thừa khiến cả thế giới phải ngả mũ kính nể
									p Mỗi 5 giây trôi đi, các siêu thị tại Mỹ vứt đi hơn 4 tấn thực phẩm có thể ăn được. Nhưng tại Pháp, con số lãng phí thức ăn thừa hầu như không có.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
											img(src="images/category-life-03.png", alt="Thiên đường giữa chốn trần gian qua góc máy phượt thủ Việt")
									.media-body
										h3.title-cate-4
											a(href="#") "Thiên đường" giữa chốn trần gian qua góc máy phượt thủ Việt
										p.content-news Hallstatt là một ngôi làng nhỏ nằm bên bờ hồ Hallstätter See đầy thơ mộng và sở hữu mỏ muối lâu đời nhất thế giới.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
											img(src="images/category-life-04.png", alt="Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án")
									.media-body
										h3.title-cate-4
											a(href="#") Vợ chồng cảnh sát Pháp bị đâm chết: Hung thủ livestream Facebook trong khi gây án
										p.content-news Mặc Euro 2016 đang diễn ra, hôm nay hàng nghìn người tập trung giữa thủ đô Paris để biểu tình chống lại luật lao động cải cách.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
											img(src="images/category-life-05.png", alt="Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an")
									.media-body
										h3.title-cate-4
											a(href="#") Bị bắt quả tang hai tên trộm khóc lóc, van xin người dân đừng báo công an
										p.content-news Phá khoá vào phòng trọ trộm đồ, bị người dân vây bắt, hai tên trộm khóc lóc, van xin người dân đừng báo công an.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi")
											img(src="images/category-life-06.png", alt="Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi")
									.media-body
										h3.title-cate-4
											a(href="#") Đây là lý do trẻ em các nước phương Tây biết bơi chỉ từ vài ngày tuổi
										p.content-news Khoa học đã chứng minh rất nhiều khả năng phi thường ở trẻ em mà người lớn không có. Bố mẹ các nước phương Tây tin rằng trẻ biết bơi sớm luôn có sự cân bằng và hiểu thấu mọi điều 
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Đường thẳng không phải là con đường... nhanh nhất!")
											img(src="images/category-life-07.png", alt="Đường thẳng không phải là con đường... nhanh nhất!")
									.media-body
										h3.title-cate-4
											a(href="#") Đường thẳng không phải là con đường... nhanh nhất!
										p.content-news Ngay từ nhỏ chúng ta đã được dạy rằng, để đi từ A đến B thì đường thẳng là tối ưu nhất. Thế nhưng vấn đề Toán học sau sẽ khiến bạn có cái nhìn hoàn toàn khác!
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Tai bạn có dấu hiệu này thì hãy thật cẩn thận")
											img(src="images/category-life-08.png", alt="Tai bạn có dấu hiệu này thì hãy thật cẩn thận")
									.media-body
										h3.title-cate-4
											a(href="#") Tai bạn có dấu hiệu này thì hãy thật cẩn thận
										p.content-news Nếu phát hiện tai có dấu hiệu này, đó cho thấy cơ thể bạn đang thực sự gặp rắc rối lớn.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới")
											img(src="images/category-life-09.png", alt="Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới")
									.media-body
										h3.title-cate-4
											a(href="#") Cận cảnh đường hầm tàu hỏa dài và sâu nhất thế giới
										p.content-news Sau gần 2 thập kỷ, dự án đường hầm sâu nhất và dài nhất thế giới xuyên dãy Alps tại Thụy Sĩ đã chính thức mở cửa có tên gọi Gotthard.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả")
											img(src="images/category-life-10.png", alt="Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả")
									.media-body
										h3.title-cate-4
											a(href="#") Nhiều phụ huynh lo lắng khi biết sữa Meiji tại Việt Nam có thể là hàng giả
										p.content-news Công ty Meiji còn lo ngại về tình trạng quản lý chất lượng hàng nội địa Nhật Bản khi về Việt Nam vì hầu hết đều không rõ ràng. Hàng giả cũng có thể bị trà trộn vào hàng Nhật Bản.
								.box-cate-small-life.media
									.media-left
										a(href="#" title="Cận cảnh chiếc Boeing khiến siêu phi cơ của tỷ phú Donald Trump phải ghen tị")
											img(src="images/category-life-11.png", alt="Cận cảnh chiếc Boeing khiến siêu phi cơ của tỷ phú Donald Trump phải ghen tị")
									.media-body
										h3.title-cate-4
											a(href="#") Cận cảnh chiếc Boeing khiến "siêu phi cơ" của tỷ phú Donald Trump phải ghen tị
										p.content-news Đối với nhiều người, máy bay cá nhân Boeing 757-200 của tỷ phú Donald Trump với giá 100 triệu USD đã là ngoài sức tưởng tượng. Tuy nhiên, hãng Airbus và Boeing đã bắt tay nhau cho ra máy bay hạng "khủng" Boeing 747-8, khiến phi cơ cá nhân
								ul.number-page-cate
									li.active
										a(href="#") 1
									li
										a(href="#") 2
									li
										a(href="#") 3
									li
										a(href="#") ...
									li
										a(href="#") 99
							.col-xs-3
								.cate-highlight-news
									.sub-title-left
										.border-top-sub
										h2
											a(href='#') Tin nổi bật
									.highlight-center
										a(href='#') Tỷ phú Jack Ma: "Hàng giả của Trung Quốc còn tốt hơn hàng thật"
										p Cuộc chiến chống hàng giả được ông Jack Ma nhận định là rất khó khăn.
									.highlight-center
										a(href='#') Trả thù vợ cũ ngoại tình, người chồng đánh con để gửi ảnh chọc tức
										p Hôm qua 14/6, người dùng mạng Weibo tên Nongstone567 đã đăng những hình ảnh của một bé gái trên người đầy thương tích khiến bất cứ ai nhìn thấy cũng vô cùng phẫn nỗ.
									.highlight-center
										a(href='#') Bố bé trai bị bỏ rơi lên tiếng: "Người đàn ông kia muốn cô ấy bỏ con mới sống chung"
										p Mang nặng đẻ đau chín tháng mười ngày mới cho ra đời một sinh linh bé nhỏ. Không ai nhẫn tâm bỏ đi núm ruột của mình cả
									.highlight-center
										a(href='#') Chán chê kín đáo, "chuyện ấy" được trực tuyến trên mạng xã hội
										p Cộng đồng mạng đang xôn xao video của cặp đôi trẻ đã công khai "chuyện ấy" trên ứng dụng trực tuyến mạng xã hội, liệu đây có phải hành động đáng tuyên dương?
							.col-xs-3.cate-main-right
									include ./highlight-video.jade
									include ./hot-news-day.jade
					.padding
					include ./fashion.jade
					include ./women.jade
		include ./footer.jade
	include ./script.jade