doctype html
html
	include ./head.jade
	body(onload="onLoad()")
		include ./header.jade
		include ./hot-news.jade
		section.detail-main
			.container
				.row
					.col-xs-12
						ul.cate-top-left
							li
								a(href="#") Trang chủ
								span >
							li
								a(href="#") Đời sống
								span >
							li
								a(href="#") Vụ máy bay Vietnam Airlines hạ cánh tại Lào: Lãnh đạo chính thức lên tiếng
					.col-xs-2
						.time-post
							p 16:46 08/06/2016
						.icon-social-detail
							a(href="https://www.facebook.com/kulnews" title="facebook" class="icon facebook" target="_blank")
								.social-round
									i.fa.fa-facebook
							a(href="https://plus.google.com/u/0/110833293141518607946/" title="google" class="icon google" target="_blank")
								.social-round
									i.fa.fa-google-plus
							a(href="https://www.youtube.com/channel/UC-gfYPmX-4hagkRmUF5YxTA" title="youtube" class="icon youtube" target="_blank")
								.social-round
									i.fa.fa-youtube
							a(href="https://www.instagram.com/kulnews/" title="instagram" class="icon instagram" target="_blank")
								.social-round
									i.fa.fa-instagram
						.box-detail-left
							a(href="#" title="Hồ Văn Cường hát mộc Còn thương rau đắng mọc sau hè cực ngọt")
								img(src="images/detail-01.png", alt="Hồ Văn Cường hát mộc Còn thương rau đắng mọc sau hè cực ngọt")
							a(href="#") Clip: Hồ Văn Cường hát mộc “Còn thương rau đắng mọc sau hè” cực ngọt
						.box-detail-left
							a(href="#" title="Ấn Độ đầu tư 60 triệu USD cho 1 siêu máy tính dự báo thời tiết")
								img(src="images/detail-02.png", alt="Ấn Độ đầu tư 60 triệu USD cho 1 siêu máy tính dự báo thời tiết")
							a(href="#") Ấn Độ đầu tư 60 triệu USD cho 1 siêu máy tính dự báo thời tiết
					.col-xs-7.bor-box-detail
						.detail-news-center
							h1.title-detail-01 Vụ máy bay Vietnam Airlines hạ cánh tại Lào: Lãnh đạo chính thức lên tiếng
							p.content-news.cont-defcribe Ngày 7/6, chuyến bay VN168 hành trình Đà Nẵng – Hà Nội đã đáp cánh khẩn cấp tại sân bay Viêng Chăn (Lào) thay vì sân bay Nội Bài (Hà Nội). Lãnh đạo tổng công ty Hàng không Việt Nam đã chính thức lên tiếng về vụ việc này.
							.img-detail-center
								a(href="#" title="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội")
									img(src="images/detail-04.png", alt="Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội" )
								span.defcribe-btm-img Chuyến bay VN168 hành trình Đà Nẵng – Hà Nội
							p.content-news Hôm qua (7/6), chuyến bay VN168 hành trình Đà Nẵng – Hà Nội thuộc tổng công ty Hàng không Việt Nam khởi hành từ lúc 16 giờ đã chuyển hướng hạ cánh tại sân bay Viêng Chăn (Lào) thay vì sân bay Nội Bài (Hà Nội) vì lý do thời tiết.
							p.content-news Tổng công ty Hàng không VN (Vietnam Airlines) đã chính thức lên tiếng về vụ việc. Sau khi hạ cánh và được thông báo thời tiết ở Nội Bài đã tốt trở lại, có thể bay về, Tổ bay phát hiện vấn đề kỹ thuật của máy bay. Tổ bay đã thông báo cho hành khách về việc cần kiểm tra kỹ thuật. Tuy nhiên, do thời gian kiểm tra lâu hơn dự kiến nên tổ bay đã triển khai phục vụ ăn nhanh trên máy bay. Sau khi phát hiện vấn đề kỹ thuật phải sửa chữa, tổ bay quyết định mời hành khách xuống nhà ga tạm chờ.
							.img-detail-center
								a(href="#" title="102 khách quyết định ở lại sân bay Viêng Chăn.")
									img(src="images/detail-05.png", alt="102 khách quyết định ở lại sân bay Viêng Chăn.")
								span.defcribe-btm-img 102 khách quyết định ở lại sân bay Viêng Chăn.
							p.content-news Sáng nay, máy bay A321 đã sang Viêng Chăn đón 102 khách cùng hành lý về sân bay Nội Bài và VNA cũng bố trí xe buýt đưa trả khách từ Nội Bài về trung tâm Hà Nội. Hãng VNA đã triển khai các biện pháp cần thiết để đảm bảo an toàn, hạn chế tối đa ảnh hưởng cho hành khách và mong nhận được sự thông cảm của các khách hàng trong tình huống này.
							p.content-news Khoảng 22 giờ tối, việc sửa chữa hoàn tất và máy được chấp thuận cho khai thác trở lại. Cơ trưởng trực tiếp xin lỗi và Vietnam Airlines đã mời khách lên máy bay. 103 khách đã làm thủ tục lên máy bay để bay về nước và 102 khách quyết định ở lại vì lúc đó đã gần 23 giờ tối. VNA đã bố trí cho các khách ở lại nghỉ tại phòng chờ của sân bay do không có hộ chiếu để nhập cảnh vào Lào.

						.name-ad-post 
							span Mỹ Lễ (Tổng hợp)
						.tags-involve
							strong Tags
							span
								a(href="#") Máy bay
							span
								a(href="#") Hạ cánh
							span
								a(href="#") Sân bay Viêng Chăn
					.col-xs-3.detail-main-right
						include ./highlight-video.jade
						include ./hot-news-day.jade
					.padding
			.video-center-detail
				.container
					.row
						.col-xs-2
						.col-xs-7
							.row
								.col-xs-6.video-detail-left
									.video-detail-img
										a(href="#" class="highlight-video-glass")
										img(src="images/detail-06.png", alt="")
										span.icon-play
									.video-detail-title
										a(href="#") Thí sinh thi này suýt nữa bị loại vì bạn phụ diễn quá bá đạo...
								.col-xs-6.video-detail-right
									.media
										a(href="#" class="pull-left" title= "Bắt cá siêu đẳng cấp! 1 phát bắt 3 con cá siêu nhanh chỉ bằng 1 cú ném lao")
											img(src="images/detail-07.png", alt="Bắt cá siêu đẳng cấp! 1 phát bắt 3 con cá siêu nhanh chỉ bằng 1 cú ném lao")
										p
											a(href="#") Bắt cá siêu đẳng cấp! 1 phát bắt 3 con cá siêu nhanh chỉ bằng 1 cú ném lao
									.media
										a(href="#" class="pull-left" title= "Video: Hiện trường vụ xả súng sân bay Thổ Nhĩ Kỳ")
											img(src="images/detail-08.png", alt="Video: Hiện trường vụ xả súng sân bay Thổ Nhĩ Kỳ")
										p
											a(href="#") Video: Hiện trường vụ xả súng sân bay Thổ Nhĩ Kỳ
									.media
										a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất")
											img(src="images/detail-09.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
										p
											a(href="#") Cảnh tượng hồ "chết chóc" kì quái thu hút 12 triệu lượt xem
						.col-xs-3
			.container
				.row
					.involve-news-detail
						.col-xs-2.col-fix-2
							.sub-title-left
								.border-top-sub
								h2
									a(href="#") Tin liên quan	
						.col-xs-10.fix-left-right
							.row
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-10.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-11.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-12.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-13.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
											span.glyphicon.glyphicon-time
											span 08/06/2016
			.tech-center-detail
				.container
					.row
						.col-xs-2
							.sub-title-left
								.border-top-sub
								h2
									a(href="#") Công nghệ
								p
									a(href="#") Sản phẩm mới
								p
									a(href="#") Tin công nghệ
								p
									a(href="#") Di động
						.col-xs-10.fix-left-right
							.row
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-10.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-11.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-12.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-invol
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-13.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
											span.glyphicon.glyphicon-time
											span 08/06/2016
			.container
				.row
					.women-news-detail
						.col-xs-2.col-fix-2
							.sub-title-left
								.border-top-sub
								h2
									a(href="#") Phái đẹp
								p
									a(href="#") Horoscope
								p
									a(href="#") Cẩm nang yêu
								p
									a(href="#") Góc chia sẻ 
								p
									a(href="#") Couple stories
										
						.col-xs-10.fix-left-right
							.row
								.col-xs-3
									.box-lg-women
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-10.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-women
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-11.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-women
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-12.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
								.col-xs-3
									.box-lg-women
										.box-sm-invol-detail
											.box-img-invol
												a(href="#" title="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
													img(src="images/detail-13.png", alt="Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?")
											p
												a(href="#") Sẽ ra sao nếu 1 con ốc sên bò qua 1 chiếc dao cạo sắc?
											p.time-post-news
												span.glyphicon.glyphicon-time
												span 08/06/2016
										p.item-invol-detail
											a(href="#" title="Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất") Mừng 123Phim tròn 3 tuổi, ra mắt điểm TIX cùng ưu đãi lớn nhất
										p.time-post-news
											span.glyphicon.glyphicon-time
											span 08/06/2016
		include ./footer.jade
	include ./script.jade