doctype html
html
	include ./head-mb.jade
	body
		include ./header-mb.jade
		section.total-news
			.container-fluid
				.highlight-news
					.highlight-large
						a(href="#")
							img(src="images/highlight-01.png", alt="Cộng hòa Séc - Thiên đường du lịch lý tưởng ở châu Âu")
						h3.title-main-1
							a(href="#") Cộng hòa Séc - Thiên đường du lịch lý tưởng ở châu Âu
					.highligh-small
						.media
							.media-left
								.box-img-highlight
									a(href="#" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
										img(src="images/highlight-02.png", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
							.media-body
								h3.title-main-3
									a(href="#") Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px
						.media
							.media-left
								.box-img-highlight
									a(href="#" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
										img(src="images/highlight-03.png", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
							.media-body
								h3.title-main-3
									a(href="#") Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt
						.media
							.media-left
								.box-img-highlight
									a(href="#" title="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
										img(src="images/highlight-04.png", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
							.media-body
								h3.title-main-3
									a(href="#") Vy Oanh xinh như công chúa trong tiệc thôi nôi hoành tráng của con trai
				.life-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Đời sống") Đời sống
					.life-large
						.box-img-life
							a(href="#" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
								img(src="images/life-01.png", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
						h4.title-main-4
							a(href="#" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Trường Giang ăn liên tục trong buổi ra mắt "Thiên Đường Ẩm Thực" mùa 2
					.life-large
						.box-img-life
							a(href="#" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
								img(src="images/life-02.png", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
						h4.title-main-4
							a(href="#" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Người nước ngoài, du học sinh "tấn công" vòng thử giọng Vietnam Idol 2016
					.life-large
						.box-img-life
							a(href="#" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
								img(src="images/life-03.png", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
						h4.title-main-4
							a(href="#" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc
					.life-large
						.box-img-life
							a(href="#" title="Phương Thanh: Hoàng Bách chính là soái ca trong lòng tôi")
								img(src="images/life-04.png", alt="Phương Thanh: Hoàng Bách chính là soái ca trong lòng tôi")
						h4.title-main-4
							a(href="#" title="Phương Thanh: Hoàng Bách chính là soái ca trong lòng tôi") Phương Thanh: "Hoàng Bách chính là soái ca trong lòng tôi"
				.entertaiment-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Giải trí") Giải trí
					.entertaiment-large.media
						.media-left
							.box-img-entertaiment
								a(href="#" title="Thanh Thảo tự tay lái xế hộp màu hồng nổi bật giữa phố")
									img(src="images/entertainment-01.png", alt="Thanh Thảo tự tay lái xế hộp màu hồng nổi bật giữa phố")
						.media-body
							a(href="#" title="Thanh Thảo tự tay lái xế hộp màu hồng nổi bật giữa phố") Thanh Thảo tự tay lái xế hộp màu hồng nổi bật giữa phố
					.entertaiment-large.media
						.media-left
							.box-img-entertaiment
								a(href="#" title="Fan bất ngờ trước câu trả lời của Angela Baby khi so sánh Huỳnh Hiểu Minh và Song Joong Ki")
									img(src="images/entertainment-02.png", alt="Fan bất ngờ trước câu trả lời của Angela Baby khi so sánh Huỳnh Hiểu Minh và Song Joong Ki")
						.media-body
							a(href="#") Fan bất ngờ trước câu trả lời của Angela Baby khi so sánh Huỳnh Hiểu Minh và Song Joong Ki
					.entertaiment-large.media
						.media-left
							.box-img-entertaiment
								a(href="#" title="Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới")
									img(src="images/entertainment-03.png", alt="Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới")
						.media-body
							a(href="#" title="Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới") Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới
					.entertaiment-large.media
						.media-left
							.box-img-entertaiment
								a(href="#" title="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016")
									img(src="images/entertainment-04.png", alt="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016")
						.media-body
							a(href="#") Dàn mỹ nhân châu Á đẹp lộng lẫy "đổ bộ" trên thảm đỏ LHP Cannes 2016
				.tv-shows-news
					.line-top
					h2.title-main-2
						a(href="#" title="TV Shows") TV Shows
					.row
						.col-xs-6
							.tv-show-small
								.box-img-tv-show
									a(href="#" title="Dương Quá Trần Hiểu chuẩn bị kết hôn với Tiểu Long Nữ Trần Nghiên Hy vào tháng 7 tới")
										img(src="images/tv-shows-01.png", alt="Dương Quá Trần Hiểu chuẩn bị kết hôn với Tiểu Long Nữ Trần Nghiên Hy vào tháng 7 tới")
								h4.title-main-4
									a(href="#" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") "Dương Quá" Trần Hiểu chuẩn bị kết hôn với "Tiểu Long Nữ" Trần Nghiên Hy vào tháng 7 tới
							.tv-show-small
								.box-img-tv-show
									a(href="#" title="Hương Giang Idol trót yêu nam sinh khi trở thành giáo viên thực tập xinh đẹp")
										img(src="images/tv-shows-02.png", alt="Hương Giang Idol trót yêu nam sinh khi trở thành giáo viên thực tập xinh đẹp")
								h4.title-main-4
									a(href="#" title="Hương Giang Idol trót yêu nam sinh khi trở thành giáo viên thực tập xinh đẹp") Hương Giang Idol "trót yêu" nam sinh khi trở thành giáo viên thực tập xinh đẹp
							.tv-show-small
								.box-img-tv-show
									a(href="#" title="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh")
										img(src="images/tv-shows-03.png", alt="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh")
								h4.title-main-4
									a(href="#" title="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh") Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh
						.col-xs-6.line-left
							.tv-show-small
								.box-img-tv-show
									a(href="#" title="Phạm Hương: Có lúc nghĩ mình không phải con người")
										img(src="images/tv-shows-04.png", alt=" Phạm Hương: Có lúc nghĩ mình không phải con người")
								h4.title-main-4
									a(href="#" title="Phạm Hương: Có lúc nghĩ mình không phải con người") Phạm Hương: "Có lúc nghĩ mình không phải con người"
							.tv-show-small
								.box-img-tv-show
									a(href="#" title="Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo")
										img(src="images/tv-shows-05.png", alt="Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo")
								h4.title-main-4
									a(href="#" title="Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo") Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo
							.tv-show-small
								.box-img-tv-show
									a(href="#" title="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
										img(src="images/tv-shows-06.png", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
								h4.title-main-4
									a(href="#" title="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt") Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt
				.movie-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Điện ảnh") Điện ảnh
					.movie-large
						.box-img-movie-lg
							a(href="#" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
								img(src="images/movie-01.png", alt="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
						h3.title-main-4
							a(href="#" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng") "Vượt ngục" tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng
						p.content-news Đã 11 năm trôi qua kể từ lần đầu tiên "Vượt ngục" chinh phục khán giả màn ảnh nhỏ trên khắp thế giới, và đã 7 năm trôi qua kể từ khi khán...
					.movie-small
						.media
							.media-left
								.box-img-movie-sm
									a(href="#" title="7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse")
										img(src="images/movie-02.png", alt="7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse")
							.media-body
								p
									a(href="#" title="7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse") 7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse
						.media
							.media-left
								.box-img-movie-sm
									a(href="#" title="Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim")
										img(src="images/movie-03.png", alt="Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim")
							.media-body
								p
									a(href="#" title="Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim") Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim
						.media
							.media-left
								.box-img-movie-sm
									a(href="#" title="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016")
										img(src="images/movie-04.png", alt="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016")
							.media-body
								p
									a(href="#" title="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016") Dàn mỹ nhân châu Á đẹp lộng lẫy "đổ bộ" trên thảm đỏ LHP Cannes 2016
				.fashion-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#") Thời trang
					.row
						.col-xs-6
							.fashion-news-small
								.box-img-fashion
									a(href="#" title="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
										img(src="images/fashion-01.png", alt="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
								p
									a(href="#" title="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016") 5 xu hướng thời trang đang "làm mưa làm gió" mùa hè 2016
							.fashion-news-small
								.box-img-fashion
									a(href="#" title="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
										img(src="images/fashion-03.png", alt="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
								p
									a(href="#" title="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn") Hoàng Thùy đẹp ma mị trong BST mới
						.col-xs-6
							.fashion-news-small
								.box-img-fashion
									a(href="#" title="Hoàng Thùy đẹp ma mị trong BST mới")
										img(src="images/fashion-02.png", alt="Hoàng Thùy đẹp ma mị trong BST mới")
								p
									a(href="#" title="Hoàng Thùy đẹp ma mị trong BST mới") Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn
							.fashion-news-small
								.box-img-fashion
									a(href="#" title="Thanh Hằng khoe street style tươi trẻ cùng các học viên")
										img(src="images/fashion-04.png", alt="Thanh Hằng khoe street style tươi trẻ cùng các học viên")
								p
									a(href="#" title="Thanh Hằng khoe street style tươi trẻ cùng các học viên") Thanh Hằng khoe street style tươi trẻ cùng các học viên
				.women-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Phái đẹp") Phái đẹp
					.row
						.col-xs-6
							.women-news-large
								.box-img-women
									a(href="#" title="5 mẹo đơn giản đá bay mùi cơ thể")
										img(src="images/women-01.png", alt="5 mẹo đơn giản đá bay mùi cơ thể")
								p
									a(href="#" title="5 mẹo đơn giản đá bay mùi cơ thể") 5 mẹo đơn giản đá bay "mùi cơ thể"
								.women-news-small
									p
										a(href="#" title="Cái nắm tay cuối cùng của cặp vợ chồng bệnh tật trước lúc ra đi") Cái "nắm tay cuối cùng" của cặp vợ chồng bệnh tật trước lúc ra đi
									p
										a(href="#" title="Mưa ngày cưới, hạnh phúc hay đau thương?") Mưa ngày cưới, hạnh phúc hay đau thương?
									p
										a(href="#" title="Hé lộ tính cách phụ nữ qua đôi gò bồng đào") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
						.col-xs-6
							.women-news-large
								.box-img-women
									a(href="#" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ")
										img(src="images/women-02.png", alt="women-01")
								p
									a(href="#" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ") Thứ Năm (19/5): Song Ngư được bạn bè mến mộ
								.women-news-small
									p
										a(href="#" title="Tặng con gái góc bếp yêu không tưởng từ vật dụng cũ") Tặng con gái góc bếp "yêu không tưởng" từ vật dụng cũ
									p
										a(href="#" title="3 cách ứng xử khôn ngoan giúp quan hệ cha vợ - con rể thêm gắn kết") 3 cách ứng xử khôn ngoan giúp quan hệ "cha vợ - con rể" thêm gắn kết
									p
										a(href="#" title="5 chiến lược phòng ngự của phụ huynh khi... hè tới") 5 "chiến lược" phòng ngự của phụ huynh khi... hè tới
				.tech-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Phái đẹp") Công nghệ
					.tech-news-large
						.box-img-tech
							a(href="#"  title="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?")
								img(src="images/technology-01.png", alt="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?")
						h3.title-main-3
							a(href="#" title="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?") Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?
					.tech-news-small.media
						.media-left
							.box-img-tech
								a(href="#" title= "23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple")
									img(src="images/technology-02.png", alt="23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple")
						.media-body
							p
								a(href="#" class="pull-left" title= "23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple") 23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple
					.tech-news-small.media
						.media-left
							.box-img-tech
								a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng")
									img(src="images/technology-05.png", alt="Những concept Logo Instagram mới của cộng đồng mạng")
						.media-body
							p
								a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng") Những concept Logo Instagram mới của cộng đồng mạng
					.tech-news-small.media
						.media-left
							.box-img-tech
								a(href="#" class="pull-left" title= "Apple cập nhật iOS phiên bản mới và iTunes 12.4")
									img(src="images/technology-07.png", alt="Apple cập nhật iOS phiên bản mới và iTunes 12.4")
						.media-body
							p
								a(href="#" class="pull-left" title= "Apple cập nhật iOS phiên bản mới và iTunes 12.4") Apple cập nhật iOS phiên bản mới và iTunes 12.4
					.tech-news-small.media
						.media-left
							.box-img-tech
								a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng")
									img(src="images/technology-08.png", alt="TNhững concept Logo Instagram mới của cộng đồng mạng")
						.media-body
							p
								a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng") John McAfee tuyên bố hack thành công WhatsApp, nhưng sự thật thì rất đáng buồn
				.vehicles-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Phái đẹp") Xe
					.row
						.col-xs-6
							.vehicles-news-small
								.box-img-vehicles
									a(href="#" title="Chiếc ô tô hình xúc xích độc đáo")
										img(src="images/vehicles-01.png", alt="Chiếc ô tô hình xúc xích độc đáo")
								p
									a(href="#" title="Chiếc ô tô hình xúc xích độc đáo") Chiếc ô tô hình xúc xích độc đáo
							.vehicles-news-small
								.box-img-vehicles
									a(href="#" title= "Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco")
										img(src="images/vehicles-02.png", alt="Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco")
								p
									a(href="#" title= "Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco") Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco
							.vehicles-news-small
								.box-img-vehicles
									a(href="#" title= "Điểm danh loạt xe sang Audi mới chuẩn bị trình làng")
										img(src="images/vehicles-03.png", alt="Điểm danh loạt xe sang Audi mới chuẩn bị trình làng")
								p
									a(href="#" title="Điểm danh loạt xe sang Audi mới chuẩn bị trình làng") Điểm danh loạt xe sang Audi mới chuẩn bị "trình làng"
						.col-xs-6
							.vehicles-news-small
								.box-img-vehicles
									a(href="#" title="Chiếc ô tô hình xúc xích độc đáo")
										img(src="images/vehicles-04.png", alt="Chiếc ô tô hình xúc xích độc đáo")
								p
									a(href="#" title="Chiếc ô tô hình xúc xích độc đáo") Chiếc ô tô hình xúc xích độc đáo
							.vehicles-news-small
								.box-img-vehicles
									a(href="#" title= "Xe của Tổng thống Mỹ: Chiếc xe tăng mang vẻ ngoài của xe hơi")
										img(src="images/vehicles-05.png", alt="Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco")
								p
									a(href="#" title= "Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco") Xe của Tổng thống Mỹ: Chiếc "xe tăng" mang vẻ ngoài của xe hơi
							.vehicles-news-small
								.box-img-vehicles
									a(href="#" title= "Xế nổ tay ga Honda SH thay dàn áo độc tại Việt Nam")
										img(src="images/vehicles-06.png", alt="Điểm danh loạt xe sang Audi mới chuẩn bị trình làng")
								p
									a(href="#" title="Xế nổ tay ga Honda SH thay dàn áo độc tại Việt Nam") Xế nổ tay ga Honda SH thay dàn áo độc tại Việt Nam
				.sport-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Phái đẹp") Thể thao
					.sport-news-large
						.box-img-sport-large
							a(href="#" title="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
								img(src="images/sport-01.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
						p
							h3.title-main-3
								a(href="#" title="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ") Với Van Gaal, cúp FA là sự ngụy biện tủi hổ
					.row
						.col-xs-6
							.sport-news-small
								.box-img-sport-small
									a(href="#" title= "Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
										img(src="images/sport-02.png", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
								p
									a(href="#" title= "Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia") Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia
							.sport-news-small
								.box-img-sport-small
									a(href="#" title= "Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
										img(src="images/sport-03.png", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
								p
									a(href="#" title= "Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi") Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi
							.sport-news-small
								.box-img-sport-small
									a(href="#" title= "2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
										img(src="images/sport-04.png", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
								p
									a(href="#" title= "2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp") 2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp
						.col-xs-6
							.sport-news-small
								.box-img-sport-small
									a(href="#" title="Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?")
										img(src="images/sport-05.png", alt="Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?")
								p
									a(href="#" title="Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?") Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?
							.sport-news-small
								.box-img-sport-small
									a(href="#" title= "Những ngôi sao có thể theo Mourinho đến MU")
										img(src="images/sport-06.png", alt="Những ngôi sao có thể theo Mourinho đến MU")
								p
									a(href="#" class="pull-left" title= "Những ngôi sao có thể theo Mourinho đến MU") Những ngôi sao có thể theo Mourinho đến MU
							.sport-news-small
								.box-img-sport-small
									a(href="#" title= "Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?")
										img(src="images/sport-07.png", alt="Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?")
								p
									a(href="#" title= "Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?") Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?
				.video-news.line-bor-top
					.line-top
					h2.title-main-2
						a(href="#" title="Phái đẹp") Video
					.video-news-small.media
						.box-play1.pull-left
							a(href="#" class="hover-box-video " title= "Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
								img(src="images/video-02.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
								span.icon-play
						.box-play-text-video
							p
								a(href="#" class="hover-box-video " title= "Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt") Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt
					.video-news-small.media
						.box-play1.pull-left
							a(href="#" class="hover-box-video" title= "Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi đanh đá nhất của đội Đức Thịnh")
								img(src="images/video-03.png", alt="Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi đanh đá nhất của đội Đức Thịnh")
								span.icon-play
						.box-play-text-video
							p
								a(href="#") Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi "đanh đá" nhất của đội Đức Thịnh
					.video-news-small.media
						.box-play1.pull-left
							a(href="#" class="pull-left" class="hover-box-video" title= "Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn")
								img(src="images/video-04.png", alt="Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn")
								span.icon-play
						.box-play-text-video
							p
								a(href="#" class="hover-box-video" title= "Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
					.video-news-small.media
						.box-play1.pull-left
							a(href="#" class="pull-left" title= "Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh")
								img(src="images/video-05.png", alt="Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh")
								span.icon-play
						.box-play-text-video
							p
								a(href="#" class="hover-box-video" title= "Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh") Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh
		include ./footer-mb.jade
	include ./script.jade