script(src='js/bootstrap.min.js')
script(src='http://cdn.jsdelivr.net/jquery.marquee/1.3.9/jquery.marquee.min.js', type='text/javascript')
script(src='js/jquery-scrolltofixed.js')
script(src='js/crawler.js')
script(src='js/main.js')