/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
	width:972px;
	margin-left:14px;
	background-color:#372d3f;
}
.yamm .yamm-content {
  padding: 15px 70px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.navbar-nav>li>.dropdown-menu {
	margin-top:-1px;
}
.yamm-content ul > li > a {
	color:#fff;
}
.yamm-content ul > li > a:before {
	content:url('../images/greendots.png');
	position:relative;
	top: -2px;
    margin-right: 5px;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
.navbar-brand {
	height:45px;
}
.form-control {
	height: 25px;
	background-color: #372d3f;
	border:0px solid transparent;
	border-bottom:1px dashed #fff;
	border-radius:0px;
	padding-left:2px;
	outline: none;
	margin-top:2px;
	color:#fff;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
input.form-control:focus {
    border:0px solid transparent;
	border-bottom:1px dashed #fff;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}
.navbar-form {
	margin-top:5px;
	margin-bottom:0px;
	padding-right:0px;
}
.history-button {
	margin-top:10px;
	margin-right:5px;
}
.signup-button {
	margin-top:10px;
	margin-right:15px;
}
.navbar-nav > li.active > a {
	border-bottom:3px solid #29c6ab;
	background:url('../images/arrowbar.png') bottom center no-repeat !important;
}
.navbar-nav > li > a:hover {
	border-bottom:3px solid #29c6ab;
	background:url('../images/arrowbar.png') bottom center no-repeat;
}
.navbar-nav > li > a {
	padding-bottom:11px;
	background:transparent !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	border-color:#29c6ab;
	border-bottom:3px solid #29c6ab;
}
.navbar-brand h1 {
	margin-top:-5px;
	margin-bottom: 0px;
}
.usercontent {
	width:500px !important;
	padding: 0;
	margin-top: 0px !important;
	margin-right: 14px;
}
.usercontent .yamm-content {
	padding:0px;
	background-color:#0E977F;
}