header.site-header.fixed
  .main-navigation.container-fluid
    .row
      .col-xs-6
        .logo-top-left
          a(href="#", title="Tin tức, giải trí, xã hội")
            img(src="images/logo.png", alt="kulnew logo")
      .col-xs-6
        .navbar-header
          button(type="button" class="navbar-toggle" data-toggle="collapse" id="btn-show-menu")
            span.icon-bar
            span.icon-bar
            span.icon-bar
      .col-xs-12
        .btn-menu
          ul.nav.navbar-nav
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Đời Sống
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Nhịp sống
                li
                  a(href="#") Nhân vật
                li
                  a(href="#") Giới trẻ
                li
                  a(href="#") Xem-Ăn-Chơi
                li
                  a(href="#") Sức khỏe
                li
                  a(href="#") Khám phá
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Giải Trí
                span.caret
              .arrow_box
              ul.dropdown-menu
                li.menu-header
                  a(href="#") Sao
                li
                  a(href="#") Sao Việt
                li
                  a(href="#") Sao Á
                li
                  a(href="#") Sao US-UK
                li.menu-header
                  a(href="#") Nhạc
                li
                  a(href="#") Nhạc Việt Nam
                li 
                  a(href="#") Nhạc Châu Á
                li
                  a(href="#") Nhạc US-UK
            li
              a(href="#") TV Shows
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Điện Ảnh
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Phim Việt
                li
                  a(href="#") Phim Châu Á
                li
                  a(href="#") Phim US-UK
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Thời Trang
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Làm đẹp
                li
                  a(href="#") Xu hướng
                li
                  a(href="#") Thời trang sao
                li
                  a(href="#") Bộ sưu tập
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Phái Đẹp
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Horoscope
                li
                  a(href="#") Cẩm nang yêu
                li
                  a(href="#") Góc chia sẽ
                li
                  a(href="#") Couple Stories
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Công Nghệ
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Sản phẩm mới
                li
                  a(href="#") Tin công nghệ
                li
                  a(href="#") Di động
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Xe
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Ô tô
                li
                  a(href="#") Xe máy
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Thể Thao
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Trong nước
                li
                  a(href="#") Quốc tế
                li
                  a(href="#") Chuyện hậu trường
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Video
                span.caret
              .arrow_box
              ul.dropdown-menu
                li
                  a(href="#") Showbiz
                li
                  a(href="#") MV & Trailer
                li
                  a(href="#") Giải trí
                li
                  a(href="#") Hài
                li
                  a(href="#") Thời sự

        
