doctype html
html
  include ./head.jade 
  body(onload="onLoad()")
    include ./header.jade 
    include ./hot-news.jade
    
                          
    section.total-news
      .container
        .row
          .col-xs-8.main-left
            .top-hightnews
              .row
                .col-xs-5.highlight-left
                  .name-highlight
                    h2 Tin nổi bật
                    img(src="images/icon-fire.png", alt="icon-fire")
                  .box-highlight-left
                    h3.title-main-1 
                      a(href="#") 4 hành động "nhỏ xíu" giúp hâm lửa các cặp đôi lâu năm
                    .media.topmargin-fix
                      .media-body 
                        p.content-new Nếu hai bạn đang đi dạo bộ cùng nhau mà con trai nghênh ngang đi trước, quên bẵng mất còn có cô bạn gái nhỏ bé của mình ở đằng sau thi hãy đọc bài báo sau đây
                      .media-right 
                        a(href="#")
                  .box-highlight-left
                    h3.title-main-3 
                      a(href="#") Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px
                    .media
                      .media-body
                        p.content-new 500px là một cộng đồng chia sẻ và kinh doanh các hình ảnh quen thuộc của giới nhiếp ảnh chuyên và không chuyên. Ở đây, bạn có thể chia sẻ và bán những bức ảnh đẹp của chính bạn chụp hay mua những bức
                      .media-right 
                        a(href="#")
                          img(src="images/highlight-02.png", alt="Top 19 bức ảnh nghệ thuật đang được yêu thích nhất trên 500px")
                  .box-highlight-left
                    h3.title-main-3 
                      a(href="#") Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt
                    .media
                      .media-body
                        p.content-news Mới đây, Hoàng Yến đã gây "chấn động" cộng đồng mạng khi tung clip cover ca khúc “Hao Xiang Ni” đang được nhiều người yêu thích. Được biết, clip được quay ngẫu hứng khi Hoàng Yến đang đi chụp ảnh ngoại cảnh. Tuy nhiên, chỉ sau vài giờ, clip đã nhận được sự 
                      .media-right
                        a(href="#")
                          img(src="images/highlight-03.png", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
                .col-xs-7.highlight-right
                  .box-highlight-right
                    a(href="#")
                      img(src="images/highlight-01.png", alt="Cộng hòa Séc - Thiên đường du lịch lý tưởng ở châu Âu")
                    h3.title-main-2 
                      a(href="#") Cộng hòa Séc - Thiên đường du lịch lý tưởng ở châu Âu
                    p.content-new Cộng hòa Séc là một quốc gia thuộc khu vực Trung Âu và không giáp biển. Đất nước này cũng tham gia vào hiệp ước Schengen, nên bạn có thể đến đây qua visa của Khối Schengen Châu Âu và không giới hạn bất cứ ID/passport nào ở biên giới EU. Công dân EU có thể ở lại cộng hòa Séc không cần visa. 
                    .line
                  .box-highlight-right-1
                    h3.title-main-3
                      a(href="#") Vy Oanh xinh như công chúa trong tiệc thôi nôi hoành tráng của con trai
                    .media
                      .media-body 
                        p.content-new Diện chiếc đầm trắng đơn giản nhưng không kém phần lộng lẫy, Vy Oanh xinh như công chúa bên cạnh bé Voi. Quý tử nhà Vy Oanh tên Benjamin Lê, quốc tịch Mỹ. Bé có tên thân mật ở nhà là Voi. Quý tử nhà Vy Oanh tên Benjamin Lê, quốc tịch Mỹ. Bé có tên thân mật ở nhà là Voi.
                      .media-right
                        a(href="#")
                          img(src="images/highlight-04.png", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
                            
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                    .border-top-sub
                    h2 
                      a(href="#") Đời sống
                    p 
                      a(href="#") Nhịp sống
                    p 
                      a(href="#") Nhân vật
                    p
                      a(href="#") Giới trẻ
                    p
                      a(href="#") Xem - Ăn - Chơi
                    p
                      a(href="#") Sức khỏe
                    p
                      a(href="#") Khám phá
              .col-xs-10
                .top-hightnews
                  .row
                    .col-xs-6
                      .box-info-life
                        a(href="#" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                          img(src="images/life-01.png", alt="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2")
                        p
                          a(href="#" title="Trường Giang ăn liên tục trong buổi ra mắt Thiên Đường Ẩm Thực mùa 2") Trường Giang ăn liên tục trong buổi ra mắt "Thiên Đường Ẩm Thực" mùa 2
                    .col-xs-6
                      .box-info-life
                        a(href="#" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                          img(src="images/life-02.png", alt="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016")
                        p
                          a(href="#" title="Người nước ngoài, du học sinh tấn công vòng thử giọng Vietnam Idol 2016") Người nước ngoài, du học sinh "tấn công" vòng thử giọng Vietnam Idol 2016
                    .col-xs-6
                      .box-info-life
                        a(href="#" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
                          img(src="images/life-03.png", alt="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc")
                        p
                          a(href="#" title="Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc") Vietnam Idol Kids: Cậu bé hát đám cưới Hồ Văn Cường khiến Isaac bật khóc
                    .col-xs-6
                      .box-info-life
                        a(href="#" title="Phương Thanh: Hoàng Bách chính là soái ca trong lòng tôi")
                          img(src="images/life-04.png", alt="Phương Thanh: Hoàng Bách chính là soái ca trong lòng tôi")
                        p
                          a(href="#" title="Phương Thanh: Hoàng Bách chính là soái ca trong lòng tôi") Phương Thanh: "Hoàng Bách chính là soái ca trong lòng tôi"
                    .col-xs-6
                      .box-info-life
                        a(href="#" title="Trấn Thành sợ xanh mặt, liên tục khấn vái gọi tên Hari Won trên sân khấu")
                          img(src="images/life-05.png", alt="Trấn Thành sợ xanh mặt, liên tục khấn vái gọi tên Hari Won trên sân khấu")
                        p
                          a(href="#" title="Trấn Thành sợ xanh mặt, liên tục khấn vái gọi tên Hari Won trên sân khấu") Trấn Thành sợ "xanh mặt", liên tục khấn vái gọi tên Hari Won trên sân khấu
                    .col-xs-6
                      .box-info-life
                        a(href="#" title="Biến Hóa Hoàn Hảo: Trấn Thành điêu đứng vì bản sao Hari Won")
                          img(src="images/life-06.png", alt="Biến Hóa Hoàn Hảo: Trấn Thành điêu đứng vì bản sao Hari Won")
                        p
                          a(href="#" title="Biến Hóa Hoàn Hảo: Trấn Thành điêu đứng vì bản sao Hari Won") Biến Hóa Hoàn Hảo: Trấn Thành "điêu đứng" vì bản sao Hari Won
                         
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                    .border-top-sub
                    h2 
                      a(href="#") Giải trí
                    p 
                      a(href="#") Sao Việt
                    p 
                      a(href="#") Sao Á
                    p
                      a(href="#") Sao US - UK
                    p
                      a(href="#") Paparazzi
                    p
                      a(href="#") Nhạc Việt Nam
                    p
                      a(href="#") Nhạc Châu Á
                    p
                      a(href="#") Nhạc US - UK
              .col-xs-10
                .top-hightnews
                  .box-large-entertaiment.media
                    .media-left
                      a(href="#" title="Thanh Thảo tự tay lái xế hộp màu hồng nổi bật giữa phố")
                        img(src="images/entertainment-01.png", alt="Dương Quá Trần Hiểu chuẩn bị kết hôn với Tiểu Long Nữ Trần Nghiên Hy vào tháng 7 tới")
                    .media-body
                      h3.title-main-2
                        a(href="#") Thanh Thảo tự tay lái xế hộp màu hồng nổi bật giữa phố
                      p.info-interntm.content-new Nhân một ngày rảnh rỗi, Thanh Thảo đã tự tay lái xế hộp tới thăm MC Thanh Mai. Cả hai là bạn bè thân thiết từ lâu nhưng vì lịch làm việc quá dày đặc nên chỉ khi nào có dịp mới gặp nhau.
                    .line
                  .box-small-entertaiment.media
                    .media-left
                      a(href="#" title="Fan bất ngờ trước câu trả lời của Angela Baby khi so sánh Huỳnh Hiểu Minh và Song Joong Ki")
                        img(src="images/entertainment-02.png", alt="Fan bất ngờ trước câu trả lời của Angela Baby khi so sánh Huỳnh Hiểu Minh và Song Joong Ki")
                    .media-body
                      h3.title-main-4
                        a(href="#") Fan bất ngờ trước câu trả lời của Angela Baby khi so sánh Huỳnh Hiểu Minh và Song Joong Ki
                      p.info-interntm.content-new Angela Baby đã khiến khán giả vô cùng bất ngờ khi trả lời thẳng thắn về quan điểm dành cho Song Joong Ki và Huỳnh Hiểu Minh.
                    .line
                   
                  .box-small-entertaiment.media
                    .media-left
                      a(href="#" title="Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới")
                        img(src="images/entertainment-03.png", alt="Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới")
                    .media-body
                      h3.title-main-4
                        a(href="#") Hồ Quang Hiếu biến hóa chóng mặt trong 2 MV mới
                      p.info-interntm.content-new Nam ca sĩ cho ra mắt cùng lúc 2 MV ở hai thể loại âm nhạc, với hai nội dung hoàn toàn khác nhau với mục đích mang đến sự mới mẻ đến cho khán giả.
                    .line
                  .box-small-entertaiment.media
                    .media-left
                      a(href="#" title="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016")
                        img(src="images/entertainment-04.png", alt="Dàn mỹ nhân châu Á đẹp lộng lẫy đổ bộ trên thảm đỏ LHP Cannes 2016")
                    .media-body
                      h3.title-main-4
                        a(href="#") Dàn mỹ nhân châu Á đẹp lộng lẫy "đổ bộ" trên thảm đỏ LHP Cannes 2016
                      p.info-interntm.content-new Củng Lợi, Lý Băng Băng, Chompoo Araya A. Hargate tự tin sải bước trên thảm đỏ cùng sao Hollywood và thế giới tại LHP Cannes lần thứ 69.
                    .line
                   
                  .box-small-entertaiment.media
                    .media-left
                      a(href="#" title="Hoàng Cảnh Du đã có mặt trên thảm đỏ LHP Cannes")
                        img(src="images/entertainment-05.png", alt="Hoàng Cảnh Du đã có mặt trên thảm đỏ LHP Cannes")
                    .media-body
                      h3.title-main-4
                        a(href="#") Hoàng Cảnh Du đã có mặt trên thảm đỏ LHP Cannes
                      p.info-interntm.content-new Sau khi vắng mặt về sự cố "tắc đường" trong lễ khai mạc LHP Cannes thì mới đây, Hoàng Cảnh Du đã chính thức xuất  
                                
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="#") TV Shows
                  p
                    a(href="#") Gameshows
                  p
                    a(href="#") Ca nhạc
              .col-xs-10
                .top-hightnews2
                  .row
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Dương Quá Trần Hiểu chuẩn bị kết hôn với Tiểu Long Nữ Trần Nghiên Hy vào tháng 7 tới")
                            img(src="images/tv-shows-01.png", alt="Dương Quá Trần Hiểu chuẩn bị kết hôn với Tiểu Long Nữ Trần Nghiên Hy vào tháng 7 tới")
                        .media-body  
                          a(href="#") "Dương Quá" Trần Hiểu chuẩn bị kết hôn với "Tiểu Long Nữ" Trần Nghiên Hy vào tháng 7 tới
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Hương Giang Idol trót yêu nam sinh khi trở thành giáo viên thực tập xinh đẹp")
                            img(src="images/tv-shows-02.png", alt="Hương Giang Idol trót yêu nam sinh khi trở thành giáo viên thực tập xinh đẹp")
                        .media-body  
                          a(href="#") Hương Giang Idol "trót yêu" nam sinh khi trở thành giáo viên thực tập xinh đẹp
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh")
                            img(src="images/tv-shows-03.png", alt="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh")
                        .media-body  
                          a(href="#") Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Phạm Hương: Có lúc nghĩ mình không phải con người")
                            img(src="images/tv-shows-04.png", alt=" Phạm Hương: Có lúc nghĩ mình không phải con người")
                        .media-body 
                          a(href="#") Phạm Hương: "Có lúc nghĩ mình không phải con người"
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo")
                            img(src="images/tv-shows-04.png", alt="Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo")
                        .media-body  
                          a(href="#") Xúc động với bức thư của cụ bà 88 tuổi gửi cho Song Hye Kyo
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
                            img(src="images/tv-shows-06.png", alt="Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt")
                        .media-body  
                          a(href="#") Clip cover của Hoàng Yến cán mốc 2 triệu view chỉ sau 24 giờ ra mắt
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh")
                            img(src="images/tv-shows-03.png", alt="Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh")
                        .media-body  
                          a(href="#") Sơn Tùng diện đồ kín mít, bị fan quây chặt tại sân bay Cam Ranh
                    .col-xs-6
                      .box-tv-shows.media
                        .media-left
                          a(href="#" title="Phạm Hương: Có lúc nghĩ mình không phải con người")
                            img(src="images/tv-shows-04.png", alt=" Phạm Hương: Có lúc nghĩ mình không phải con người")
                        .media-body 
                          a(href="#") Phạm Hương: "Có lúc nghĩ mình không phải con người"
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                    .border-top-sub
                    h2
                      a(href="#") Điện ảnh
                    p 
                      a(href="#") Phim Việt
                    p 
                      a(href="#") Phim Châu Á
                    p
                      a(href="#") Phim US-UK
                    p
                      a(href="#") Đánh Giá Phim
              .col-xs-10
                  .row
                    .col-xs-6
                      .box-large-movie-left
                        a(href="#" title="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
                          img(src="images/movie-01.png", alt="Vượt ngục tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng")
                        h3.title-main-3
                          a(href="#") "Vượt ngục" tung trailer đầu tiên cho phần mới sau 7 năm vắng bóng
                        p.content-new Đã 11 năm trôi qua kể từ lần đầu tiên "Vượt ngục" chinh phục khán giả màn ảnh nhỏ trên khắp thế giới, và đã 7 năm trôi qua kể từ khi khán giả lặng đi trước cái chết của nhân vật nam chính Michael Scofield. Sức hút của "Vượt ngục" kể từ đó vẫn chưa dừng lại…
                    .col-xs-6
                      .row
                        .col-xs-6
                          .box-small-movie-right
                            a(href="#" title="7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse")
                              img(src="images/movie-02.png", alt="7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse")
                            a(href="#") 7 lý do bạn không thể bỏ qua phần phim X-Men: Apocalypse
                        .col-xs-6
                          .box-small-movie-right
                            a(href="#" title="Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim")
                              img(src="images/movie-03.png", alt="Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim")
                            a(href="#") Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim
                        .col-xs-12
                          .box-small-movie-bottom
                            p
                              a(href="#" title="Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim") Siêu năng lực thay đổi đến bất ngờ của các chú chim Angry Birds khi lên phim
                            p
                              a(href="#" title="Thủy Top khoe đường cong nóng bỏng bên Nhan Phúc Vinh tại họp báo X-Men: Apocalypse") Thủy Top khoe đường cong nóng bỏng bên Nhan Phúc Vinh tại họp báo "X-Men: Apocalypse"
                            p
                              a(href="#" title="Hoài Linh bị đâm xuyên bụng trên phim trường vẫn cười nói vui vẻ") Hoài Linh bị đâm xuyên bụng trên phim trường vẫn cười nói vui vẻ               
                  
          .col-xs-4
            .main-righ
              include ./highlight-video.jade
              .event-stream-news
                .sub-title-left
                  .border-top-sub
                  h2
                    a(href="#") Theo dòng sự kiện
                .box-stream-info-top
                  a(href="#"  title= "Tổng thống Obama hội kiến Thủ tướng Nguyễn Xuân Phúc và chào xã giao tổng bí thư Nguyễn Phú Trọng") 
                    img(src="images/event-stream-01.png", alt="Tổng thống Obama hội kiến Thủ tướng Nguyễn Xuân Phúc và chào xã giao tổng bí thư Nguyễn Phú Trọng")
                  h3.title-main-4
                    a(href="#") Tổng thống Obama hội kiến Thủ tướng Nguyễn Xuân Phúc và chào xã giao tổng bí thư Nguyễn Phú Trọng
                  p.content-new Angela Baby đã khiến khán giả vô cùng bất ngờ khi trả lời thẳng thắn về quan điểm dành cho Song Joong Ki và Huỳnh Hiểu Minh.
                .media.box-tream-info
                  a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                    img(src="images/event-stream-02.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                  p
                    a(href="#") Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama
                .media.box-tream-info
                  a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                    img(src="images/event-stream-03.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                  p
                    a(href="#") Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch
                .media.box-tream-info
                  a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                    img(src="images/event-stream-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                  p
                    a(href="#") 7 điều đơn giản làm nên một "Obama đĩnh đạc"
                .media.box-tream-info
                  a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                    img(src="images/event-stream-05.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                  p
                    a(href="#") Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội
                .media.box-tream-info
                  a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                    img(src="images/event-stream-06.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                  p
                    a(href="#") Cấm, hạn chế nhiều tuyến đường khi tổng thống Mỹ Obama thăm TP.HCM
                .media.box-tream-info
                  a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                    img(src="images/event-stream-07.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                  p
                    a(href="#") Người dân thủ đô xuống đường để chào đón tổng thống Mỹ
              .hot-news-day.scroll-to-fixed-right
                .sub-title-left
                  .border-top-sub
                  h2
                    a(href="#") Hot trong ngày
                .box-large-hot-news-day
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-01.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Toàn cảnh sự kiện đón Tổng thống Mỹ Barack Obama đến Việt Nam
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-02.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Tổng hợp ngày làm việc đầu tiên của Obama ở Hà Nội
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-03.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-05.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-01.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Toàn cảnh sự kiện đón Tổng thống Mỹ Barack Obama đến Việt Nam
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-02.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Tổng hợp ngày làm việc đầu tiên của Obama ở Hà Nội
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-03.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Chùm ảnh: Obama đến thăm và cho cá ăn ở nhà sàn Hồ Chủ Tịch
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Giới trẻ 2 miền hào hứng khoe thư mời tham dự buổi giao lưu cùng tổng thống Obama
                  .media.box-hot-news-day
                    a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                      img(src="images/hot-news-day-05.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                    p
                      a(href="#") Nữ tài xế lái Cadillac One hộ tống Tổng thống Obama ở Hà Nội
        .row
          .padding
          .col-xs-12
            .row
              .col-xs-2.col-fix-divide-left-large2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="") Thời trang
                  p 
                    a(href="#") Làm đẹp
                  p 
                    a(href="#") Xu hướng
                  p
                    a(href="#") Thời trang sao
                  p
                    a(href="#") Bộ sưu tập
              .col-xs-10.col-fix-divide-right-large
                .row
                  .col-xs-3
                    .box-content-fashion
                      a(href="#" title="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
                        img(src="images/fashion-01.png", alt="5 xu hướng thời trang đang làm mưa làm gió mùa hè 2016")
                      p
                        a(href="#") 5 xu hướng thời trang đang "làm mưa làm gió" mùa hè 2016
                  .col-xs-3
                    .box-content-fashion
                      a(href="#" title="Hoàng Thùy đẹp ma mị trong BST mới")
                        img(src="images/fashion-02.png", alt="Hoàng Thùy đẹp ma mị trong BST mới")
                      p
                        a(href="#") Hoàng Thùy đẹp ma mị trong BST mới
                  .col-xs-3
                    .box-content-fashion
                      a(href="#" title="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
                        img(src="images/fashion-03.png", alt="Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn")
                      p
                        a(href="#") Hằng Nguyễn ma mị, nhẹ nhàng trên sàn diễn
                  .col-xs-3
                    .box-content-fashion
                      a(href="#" title="Thanh Hằng khoe street style tươi trẻ cùng các học viên")
                        img(src="images/fashion-04.png", alt="Thanh Hằng khoe street style tươi trẻ cùng các học viên")
                      p
                        a(href="#") Thanh Hằng khoe street style tươi trẻ cùng các học viên
                .line
          .col-xs-12
            .row
              .col-xs-2.col-fix-divide-left-large2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="#") Phái đẹp
                  p 
                    a(href="#") Horoscope
                  p 
                    a(href="#") Cẩm nang yêu
                  p
                    a(href="#") Góc chia sẻ 
                  p
                    a(href="#") Couple stories
              .col-xs-10.col-fix-divide-right-large
                .row
                  .col-xs-3
                    .box-content-women
                      a(href="#" title="5 mẹo đơn giản đá bay mùi cơ thể")
                        img(src="images/women-01.png", alt="5 mẹo đơn giản đá bay mùi cơ thể")
                      p
                        a(href="#" title="5 mẹo đơn giản đá bay mùi cơ thể") 5 mẹo đơn giản đá bay "mùi cơ thể"
                      .box-women-small
                        p
                          a(href="#" title="Cái nắm tay cuối cùng của cặp vợ chồng bệnh tật trước lúc ra đi") Cái "nắm tay cuối cùng" của cặp vợ chồng bệnh tật trước lúc ra đi
                        p
                          a(href="#" title="Mưa ngày cưới, hạnh phúc hay đau thương?") Mưa ngày cưới, hạnh phúc hay đau thương?
                        p
                          a(href="#" title="Hé lộ tính cách phụ nữ qua đôi gò bồng đào") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
                  .col-xs-3
                    .box-content-women
                      a(href="#" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ")
                        img(src="images/women-02.png", alt="women-01")
                      p
                        a(href="#" title="Thứ Năm (19/5): Song Ngư được bạn bè mến mộ") Thứ Năm (19/5): Song Ngư được bạn bè mến mộ
                      .box-women-small
                        p
                          a(href="#" title="Tặng con gái góc bếp yêu không tưởng từ vật dụng cũ") Tặng con gái góc bếp "yêu không tưởng" từ vật dụng cũ
                        p
                          a(href="#" title="3 cách ứng xử khôn ngoan giúp quan hệ cha vợ - con rể thêm gắn kết") 3 cách ứng xử khôn ngoan giúp quan hệ "cha vợ - con rể" thêm gắn kết
                        p
                          a(href="#" title="5 chiến lược phòng ngự của phụ huynh khi... hè tới") 5 "chiến lược" phòng ngự của phụ huynh khi... hè tới
                  .col-xs-3
                    .box-content-women
                      a(href="#" title="3 lý do khiến các đôi đường ai nấy đi khi vào Đại học")
                        img(src="images/women-03.png", alt="women-01")
                      p
                        a(href="#") 3 lý do khiến các đôi "đường ai nấy đi" khi vào Đại học
                      .box-women-small
                        p
                          a(href="#") 4 hành động "nhỏ xíu" giúp hâm lửa các cặp đôi lâu năm
                        p
                          a(href="#") Làm sao để nắm tay nhau đi qua những "ngày thất nghiệp"?
                        p
                          a(href="#") Con gái, đôi khi hãy là một kẻ khờ xinh đẹp
                  .col-xs-3
                    .box-content-women
                      a(href="#" title="Đoán tính cách con gái qua chiếc áo lót yêu thích")
                        img(src="images/women-04.png", alt="women-01")
                      p
                        a(href="#") Đoán tính cách con gái qua "chiếc áo lót" yêu thích
                      .box-women-small
                        p
                          a(href="#") Hé lộ tính cách phụ nữ qua đôi "gò bồng đào"
                        p
                          a(href="#") 5 chòm sao nữ có nguy cơ "ế đến tận thế"
                        p
                          a(href="#") 5 tướng phụ nữ dễ " làm người thứ ba"
          .col-xs-12
            .padding
            .row
              .col-xs-2.col-fix-divide-left-large2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2 
                    a(href="#") Công nghệ
                  p 
                    a(href="#") Sản phẩm mới
                  p 
                    a(href="#") Tin công nghệ
                  p
                    a(href="#") Di động
              .col-xs-10.col-fix-divide-right-large.content-tech-main
                .row
                  .col-xs-12
                    .row
                      .col-xs-8.content-tech-top-left-small
                        .media
                          a(href="#" class="pull-left" title="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?")
                            img(src="images/technology-01.png", alt="Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?")
                          .media-body
                            h3.title-main-3 
                              a(href="") Điện thoại của tổng thống Mỹ Obama được bảo mật như thế nào?
                            p.content-new Chiếc điện thoại của tổng thống Mỹ Obama ngoài việc được mã hóa hằm tăng độ bảo mật cao, còn sử dụng một trạm thu phát sóng riêng nhằm tránh bị theo dõi.
                      .col-xs-4.content-tech-top-right-small
                          .media
                            a(href="#" class="pull-left" title= "23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple") 
                              img(src="images/technology-02.png", alt="23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple")
                            p
                              a(href="#") 23 câu hỏi phỏng vấn bạn phải vượt qua nếu muốn làm việc tại Apple
                          .media
                            a(href="#" class="pull-left" title= "Các phi hành gia nhào lộn điêu luyện trong cuộc đối thoại trực tiếp với Mark Zuckerberg") 
                              img(src="images/technology-03.png", alt="Các phi hành gia nhào lộn điêu luyện trong cuộc đối thoại trực tiếp với Mark Zuckerberg")
                            p
                              a(href="#") Các phi hành gia nhào lộn điêu luyện trong cuộc đối thoại trực tiếp với Mark Zuckerberg
                  .col-xs-12
                    .line
                    .row
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                            img(src="images/technology-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                          p.link-info-tech-right
                            a(href="#") Tường thuật: Google I/O 2016 ngày thứ nhất
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng") 
                            img(src="images/technology-05.png", alt="TNhững concept Logo Instagram mới của cộng đồng mạng")
                          p.link-info-tech-right
                            a(href="#") Những concept Logo Instagram mới của cộng đồng mạng
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                            img(src="images/technology-06.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                          p.link-info-tech-right
                            a(href="#") Tường thuật: Google I/O 2016 ngày thứ nhất
                  .col-xs-12
                    .line
                    .row
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Apple cập nhật iOS phiên bản mới và iTunes 12.4") 
                            img(src="images/technology-07.png", alt="Apple cập nhật iOS phiên bản mới và iTunes 12.4")
                          p.link-info-tech-right
                            a(href="#") Apple cập nhật iOS phiên bản mới và iTunes 12.4
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng") 
                            img(src="images/technology-08.png", alt="TNhững concept Logo Instagram mới của cộng đồng mạng")
                          p.link-info-tech-right
                            a(href="#") John McAfee tuyên bố hack thành công WhatsApp, nhưng sự thật thì rất đáng buồn
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                            img(src="images/technology-09.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                          p.link-info-tech-right
                            a(href="#") Apple cập nhật iOS phiên bản mới và iTunes 12.4
                  .col-xs-12
                    .line
                    .row
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                            img(src="images/technology-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                          p.link-info-tech-right
                            a(href="#") Tường thuật: Google I/O 2016 ngày thứ nhất
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Những concept Logo Instagram mới của cộng đồng mạng") 
                            img(src="images/technology-05.png", alt="TNhững concept Logo Instagram mới của cộng đồng mạng")
                          p.link-info-tech-right
                            a(href="#") Những concept Logo Instagram mới của cộng đồng mạng
                      .col-xs-4
                        .media
                          a(href="#" class="pull-left" title= "Tường thuật: Google I/O 2016 ngày thứ nhất") 
                            img(src="images/technology-04.png", alt="Tường thuật: Google I/O 2016 ngày thứ nhất")
                          p.link-info-tech-right
                            a(href="#") Tường thuật: Google I/O 2016 ngày thứ nhất
                .padding    
        .row
          .col-xs-8.main-left
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="#") Xe
                  p
                    a(href="#") Ô tô
                  p
                    a(href="#") Xe máy
              .col-xs-10
                .top-hightnews
                  .row
                    .col-xs-6
                      .box-large-vehicles-left
                        a(href="#" title="Chiếc ô tô hình xúc xích độc đáo")
                          img(src="images/vehicles-01.png", alt="Chiếc ô tô hình xúc xích độc đáo")
                        h3.title-main-3
                          a(href="#") Chiếc ô tô hình xúc xích độc đáo
                        p.content-new Chiếc xe xúc xích Wienermobile là sản phẩm được phát minh bởi cháu trai Oscar, Carl G. Mayer một công ty thực phẩm hàng đầu thế giới Oscar Mayer. Ngay khi xuất hiện, chiếc xe nhanh chóng tạo nên một làn sóng hâm mộ kéo dài và vẫn còn được hãng Oscar Mayer sử dụng cho đến ngày hôm nay.
                    .col-xs-6
                      .box-small-vehicles-right.media               
                        a(href="#" class="pull-left" title= "Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco") 
                          img(src="images/vehicles-02.png", alt="Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco")
                        p
                          a(href="#") Những chiếc xe cổ điển có giá cao nhất trong phiên đấu giá ở Monaco
                      .box-small-vehicles-right.media               
                        a(href="#" class="pull-left" title= "Điểm danh loạt xe sang Audi mới chuẩn bị trình làng") 
                          img(src="images/vehicles-03.png", alt="Điểm danh loạt xe sang Audi mới chuẩn bị trình làng")
                        p
                          a(href="#") Điểm danh loạt xe sang Audi mới chuẩn bị "trình làng"
                      .box-small-vehicles-right.media               
                        a(href="#" class="pull-left" title= "Xe máy khó nổ vì bị sặc xăng ta nên làm thế nào?") 
                          img(src="images/vehicles-04.png", alt="Xe máy khó nổ vì bị sặc xăng ta nên làm thế nào?")
                        p
                          a(href="#") Xe máy khó nổ vì bị sặc xăng ta nên làm thế nào?
                      .box-small-vehicles-right.media               
                        a(href="#" class="pull-left" title= "Xe của Tổng thống Mỹ: Chiếc xe tăng mang vẻ ngoài của xe hơi") 
                          img(src="images/vehicles-05.png", alt="Xe của Tổng thống Mỹ: Chiếc xe tăng mang vẻ ngoài của xe hơi")
                        p
                          a(href="#") Xe của Tổng thống Mỹ: Chiếc "xe tăng" mang vẻ ngoài của xe hơi
            .row
              .col-xs-2.col-fix-2
                .sub-title-left.scroll-to-fixed
                  .border-top-sub
                  h2
                    a(href="#") Thể thao
                  p 
                    a(href="#") Trong nước
                  p
                    a(href="#") Quốc tế
                  p 
                    a(href="#") Hậu trường
              .col-xs-10
                .row
                  .col-xs-6
                    .box-large-sport
                      a(href="#" title="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                        img(src="images/sport-01.png", alt="Với Van Gaal, cúp FA là sự ngụy biện tủi hổ")
                      h3.title-main-3
                        a(href="#") Với Van Gaal, cúp FA là sự ngụy biện tủi hổ
                    .box-small-sport.media
                      a(href="#" class="pull-left" title= "Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia") 
                        img(src="images/sport-02.png", alt="Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia")
                      p
                        a(href="#") Đấu súng nghẹt thở, Bayern Munich đả bại Dortmund đoạt Cúp quốc gia
                    .box-small-sport.media
                      a(href="#" class="pull-left" title= "Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi") 
                        img(src="images/sport-03.png", alt="Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi")
                      p
                        a(href="#") Trọng tài tưởng tượng ra 11 m: Tôi ngàn lần xin lỗi
                    .box-small-sport.media
                      a(href="#" class="pull-left" title= "2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp") 
                        img(src="images/sport-04.png", alt="2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp")
                      p
                        a(href="#") 2 trọng tài bị treo còi hết lượt đi V.League và chờ án phạt tiếp
                  .col-xs-6
                    .box-large-sport
                      a(href="#" title="Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?")
                        img(src="images/sport-05.png", alt="Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?")
                      h3.title-main-3
                        a(href="#" title="Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?") Ưu tiên hàng đầu của Jose Mourinho khi về Old Trafford là gì ?
                    .box-small-sport.media
                      a(href="#" class="pull-left" title= "Những ngôi sao có thể theo Mourinho đến MU") 
                        img(src="images/sport-03.png", alt="Những ngôi sao có thể theo Mourinho đến MU")
                      p
                        a(href="#") Những ngôi sao có thể theo Mourinho đến MU
                    .box-small-sport.media
                      a(href="#" class="pull-left" title= "Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?") 
                        img(src="images/sport-04.png", alt="Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?")
                      p
                        a(href="#") Truyền thông Hàn Quốc nói gì về màn ra mắt của Xuân Trường?
                    .box-small-sport.media
                      a(href="#" class="pull-left" title= "MU - Crystal Palace: Bật tung cảm xúc") 
                        img(src="images/sport-02.png", alt="MU - Crystal Palace: Bật tung cảm xúc")
                      p
                        a(href="#") MU - Crystal Palace: Bật tung cảm xúc
            .row
              .col-xs-2
                .box-img-title-left
                  a(href="#")
                    img(src="images/logo-gamenoob.png", alt="game noob")
              .col-xs-10
                .box-large-gamenoob.media
                  .media-left
                    .img-large-noob
                      a(href="#" title="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                        img(src="images/gamenoob-01.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                  .media-body
                    h3.title-main-3
                      a(href="#" title="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?") Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?
                    p Như các bạn đã biết, suốt mấy ngày qua cộng đồng game thủ Việt Nam đã than trời vì bị khóa phân vùng do sập máy chủ, khiến họ không thể tiếp tục trải nghiệm Pokémon GO được nữa. Tuy nhiên vào sáng nay, hàng loạt game thủ chia sẻ trên Facebook rằng họ đã tiếp tục bắt được Pokémon bằng phiên bản game tải từ App Store Úc.
                .box-small-gamenoob
                  .noob-sm
                    .img-noob
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-02.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .noob-sm
                    .img-noob
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-03.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .noob-sm
                    .img-noob
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-04.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .noob-sm
                    .img-noob
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-05.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .noob-sm
                    .img-noob
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-06.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
            .row
              .col-xs-2
                .box-img-title-left
                  a(href="#")
                    img(src="images/logo-thanhnien.png", alt="thanh niên game")
              .col-xs-10
                .box-large-tn-game.media
                  .media-left
                    .img-large-tn-game
                      a(href="#" title="LMHT: Top những kĩ năng cần chỉnh sửa ngay lập tức")
                        img(src="images/game-tn-01.png", alt="LMHT: Top những kĩ năng cần chỉnh sửa ngay lập tức")
                  .media-body
                    h3.title-main-3
                      a(href="#" title="LMHT: Top những kĩ năng cần chỉnh sửa ngay lập tức") LMHT: Top những kĩ năng cần chỉnh sửa ngay lập tức
                    p Ngoài Ryze, Riot Games cần phải thay đổi những kĩ năng của Fizz, Malphite và Gragas ngay và luôn để trò chơi trở nên cân bằng hơn.
                .box-small-tn-game
                  .tn-game-sm
                    .img-tn-game
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-02.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .tn-game-sm
                    .img-tn-game
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-03.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .tn-game-sm
                    .img-tn-game
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-04.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .tn-game-sm
                    .img-tn-game
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-05.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
                  .tn-game-sm
                    .img-tn-game
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO")
                        img(src="images/gamenoob-06.png", alt="Pokémon GO bất ngờ trở lại Việt Nam: Sự thật hay tin đồn nhảm?")
                    p
                      a(href="#" title="Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO") Những tuyệt kỹ trấn phái giúp bạn làm trùm trong Pokemon GO
          .col-xs-4
            .video-news.scroll-to-fixed-video
              .sub-title-left
                .border-top-sub
                h2
                  a(href="#") Video
              .box-main-video
                .box-play
                  a(href="#" class="hover-box-video" title= "Hot boy Việt kiều đẹp trai, thông minh chinh phục cả Bằng Kiều và Thu Minh")
                  .box-play-img-video
                    img(src="images/video-01.png", class="img-video-large" alt="Hot boy Việt kiều đẹp trai, thông minh chinh phục cả Bằng Kiều và Thu Minh")
                    span.icon-play
                  .box-play-text-video
                    p.link-bottom-video 
                      a(href="#") Hot boy Việt kiều đẹp trai, thông minh chinh phục cả Bằng Kiều và Thu Minh
                .media.box-play
                  a(href="#" class="hover-box-video " title= "Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
                  .box-play-img-video.box-play1.pull-left
                    img(src="images/video-02.png", alt="Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt")
                    span.icon-play
                  .box-play-text-video
                    p
                      a(href="#") Cách người Nhật chế biến cá biển cực nhanh và đẹp mắt
                .media.box-play
                  a(href="#" class="hover-box-video" title= "Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi đanh đá nhất của đội Đức Thịnh")
                  .box-play-img-video.box-play1.pull-left
                    img(src="images/video-03.png", alt="Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi đanh đá nhất của đội Đức Thịnh")
                    span.icon-play
                  .box-play-text-video
                    p
                      a(href="#") Đấu Trường Tiếu Lâm: Cười không ngừng với cặp đôi "đanh đá" nhất của đội Đức Thịnh
                .media.box-play
                  a(href="#" class="hover-box-video" title= "Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn") 
                  .box-play-img-video.box-play1.pull-left
                    img(src="images/video-04.png", alt="Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn")
                    span.icon-play
                  .box-play-text-video
                    p
                      a(href="#") Video: Bắt được cá trê gần 3kg ngay trên phố ở Hà Nội sau cơn mưa lớn
                .media.box-play
                  a(href="#" class="pull-left" title= "Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh")
                  .box-play-img-video.box-play1.pull-left
                    img(src="images/video-05.png", alt="Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh")
                    span.icon-play
                  .box-play-text-video
                    p
                      a(href="#") Thí sinh bị viêm màng não khóc nức nở trên vai Thu Minh
    include ./footer.jade
  include ./script.jade