$roboto:  'Roboto', sans-serif;
$robotocondensed:  'Roboto Condensed', sans-serif;
$notoserif:  'Noto Serif', serif;
$border1px: 1px solid #dcdcdc;

body{
  font-family: $notoserif;
  background: #f7f7f7;
}
a{
  text-decoration: none !important;
  color: #000;
  font-family: $robotocondensed;
  font-size: 16px;
  font-weight: 700;
  }
a:hover, a:focus{
    color: #cb0000;
    outline: none;
  }
.content-news{
	font-family: $robotocondensed;
	font-size: 16px;
}
.main-navigation{
	height: 58px;
	background: #000;
	.logo-top-left{
		width: 95px;
    height: 58px;
    background: #cb0000;
    margin-left: -15px;
		img{
			margin: 0 auto;
	    display: block;
	    padding: 5px;
		}
	}
	.navbar-header{
		float: right;
		button{
			display: block;
			border: 1px solid #fff;
	    padding: 8px;
	    border-radius: 0;
	    margin-right: 0px;
	    transition: all .22s ease-in-out;
	    .icon-bar+.icon-bar{
	    	    margin-top: 7px;
	    }
	    .icon-bar{
	    	width: 33px;
    		height: 3px;
	    }
		}
		button:hover{
			background: #cb0000;
		}
		span.icon-bar{
			background: #fff;
		}
	}

}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #000;
	color: #fff;
}
.btn-menu{
	display: none;
	background: #000;
	margin: 0px -15px 15px;
	a{
		box-shadow: none;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: normal;
    opacity: 1;
    outline: medium none;

	}
	a:active, a:focus, a:hover{
		color: #000;
	}
	ul.navbar-nav{
		background: #000;
		margin: 0px;
		>li{
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
			border-top: 1px solid #333;
		}
		li ul li a{
			 padding: 7px 20px;
		}
	}
}
ul.dropdown-menu{
  width: 100%;
  z-index: 3;
  background-color: #fff !important;
  transition: all 0.3s ease-in-out;
 
}

.title-main-1{
	margin-top: 5px;
	font-size: 20px;
	a{
		font-size: 20px;
	}
}
.title-main-2{
	margin-top: 10px;
	font-size: 17px;
	a{
		font-size: 17px;
		text-transform: uppercase;
	}
}
.title-main-3{
	margin-top: 0px;
	font-size: 18px;
	a{
		font-size: 18px;
	}
}
.title-main-4{
	margin-top: 10px;
	font-size: 16px;
	a{
		font-weight: bold;
	}
}
.line-top{
	height: 4px;
	width: 35px;
	background: #000;
}
.line-bor-top{
	padding-top: 15px;
  border-top: 1px solid #dcdcdc;
  margin-top: 15px;
}
.line-left{
	border-left: $border1px;
}
/* highlight-news */
.highlight-news{
	padding-top: 15px;
	.highlight-large{
		img{
			width: 100%;
		}
	}
	.highligh-small{
		.media{
			border-top: $border1px;
			padding-top: 15px;
				.box-img-highlight{
					width: 103px;
				height: 76px;
				overflow: hidden;
			}
			img{
				width: 100%;
			}
		}
		a{
			font-size: 18px;
		}
	}
}
/* end highlight-news */

.life-news{
	.life-large{
		padding-top: 10px;
		img{
			width: 100%;
		}
	}
}
.entertaiment-news{
	.entertaiment-large{
		border-bottom: $border1px;
		padding-bottom: 15px;
		.box-img-entertaiment{
			width: 127px;
			height: 84px;
			overflow: hidden;
		}
		img{
			width: 100%;
		}
	}
}
.tv-shows-news{
	padding-top: 15px;
	.tv-show-small{
		.box-img-tv-show{
			width: 100%;
			height: 104px;
			overflow: hidden;
		}
		img{
			width: 100%;
		}
	}
	.title-main-4{
		height: 52px;
    overflow: hidden;
    margin-bottom: 20px;
	}
}
.movie-news{
	.movie-large{
		img{
			width: 100%;
		}
	}
	.movie-small{
		.media{
			padding-top: 15px;
			border-top: $border1px;
			.box-img-movie-sm{
				width: 128px;
				height: 73px;
				overflow: hidden;
			}
		}
		img{
				width: 100%;
			}
		p{
			height: 64px;
			overflow: hidden;
			margin-bottom: 0;
		}
	}
}

.fashion-news{
	.fashion-news-small{
		.box-img-fashion{
			width: 100%;
			height: 222px;
			overflow: hidden;
		}
		img{
			width: 100%;
			padding-bottom: 5px;
		}
		p{
			padding-top: 10px;
			text-align: center;
			height: 74px;
    	overflow: hidden;
		}
		
	}
}
.women-news{
	.women-news-large{
		.box-img-women{
			height: 118px;
			width: 177px;
			overflow: hidden;
		}
		img{
			width: 100%;
		}
		p{
			padding-top: 10px;
			height: 75px;
			overflow: hidden;
		}
		.women-news-small{
			p{
			border-top: $border1px;
		}
		}
	}
}
.tech-news{
	.tech-news-large{
		.title-main-3{
			margin-top: 10px;
		}
		img{
			width: 100%;
		}
	}
	.tech-news-small{
		border-top: $border1px;
		padding-top: 15px;
		.box-img-tech{
			width: 141px;
			height: 94px;
			overflow: hidden;
		}
		.media-body{
			p{
			height: 84px;
			overflow: hidden;
			margin-bottom: 0;
		}
		}
		
		img{
			width: 100%;
		}
	}
}
.vehicles-news{
	.vehicles-news-small{
		.box-img-vehicles{
			width: 100%;
			height: 118px;
			overflow: hidden;
		}
		img{
			width: 100%;
		}
		p{
			padding-top: 10px;
			height: 74px;
			overflow: hidden;
		}
	}
}
.sport-news{
	.box-img-sport-large{
		img{
			width: 100%;
		}
	}
	.sport-news-small{
		img{
			width: 100%;
		}
		.box-img-sport-small{
			height: 111px;
			overflow: hidden;
		}
		p{
			height: 74px;
			overflow: hidden;
			padding-top:10px;
		}
	}
}
.video-news{
 .box-play{
    a.hover-box-video{
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0;
    }
  }
   p{
    	height: 64px;
    	overflow: hidden;
    }
 .box-play,.box-play1{
    position: relative;
  }
  .box-play1{
  	width: 146px;
  	height: 82px;
  	overflow: hidden;
  	img{
  		width: 100%;
  	}
    span.icon-play{
     background-size: 25px 30px;
     top: 25px;
    }
   
  }
span.icon-play{
    background-image: url("images/icon-play.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 44%;
    width: 50px;
    height: 62px;
    top: 80px;
    transition: 0.3s;
    background-size: 50px 60px;
  }
  }

.main-footer{
	.info-footer{
		font-family: $notoserif;
		font-size: 14px;
		color: #000;
	}
	margin-top: 15px;
	border-top: $border1px;
	.title-footer{
		font-weight: 700;
		text-transform: uppercase;
		font-size: 18px;
	}
	.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
	.widget-socialize{
  
  .icon{
        color: #222;
        width: 48%;
        display: block;
        float: left;
        margin: 0 1.6% 4px 0;
  }
  .text-footer{
        overflow: hidden;
        p{
           color: #888;
        }
        p:first-child{
          font-size: 24px;
          margin-bottom: 0;
         
        }
        p:last-child{
          font-size: 12px;
        }
  }
  .symbol{
     width: 55px;
          height: 55px;
          display: block;
          float: left;
          text-align: center;
          padding: 8px;
          font-size: 30px;
          color: #fff;
          margin-right: 8px;
  }
  .facebook{
    .symbol{
          background-color: #3b5998;
    }
  }
  .google{
    .symbol{
          background-color: #dd4b39;
    }
  }
  .youtube{
    .symbol{
          background-color: #dd4b39;
    }
  }
  .instagram{
    .symbol{
          background-color: #3f729b;
    }
  }
}
}